.titulo {
  display: flex;
  height: 55px;
  padding: 0 25px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  /* border-left: 8px solid var(--Primaria, #9665df); */
  border-radius: 35px;
  background: linear-gradient(112deg, rgba(18, 0, 96, 0.10) 0%, rgba(0, 0, 0, 0.09) 32.21%, rgba(19, 0, 41, 0.09) 55.29%, rgba(95, 0, 211, 0.05) 95.21%, rgba(66, 0, 146, 0.05) 100%), #2B2A2E;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}
h1 {
  color: var(--Terciaria, #fff);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
button {
  cursor: pointer;
  border-radius: 5.118px;
  background: linear-gradient(90deg, rgba(124, 76, 198, 0.50) 0%, rgba(83, 0, 249, 0.50) 100%), #7C4CC6;
  outline: none;
  border: none;
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

button mat-icon {
  color: white;
}
p{
  margin-top: 30px;
  color: #FFF;
font-family: Arial;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
mat-divider{
  background-color: white;
  margin: 30px 0;
}
