.cadastro-modulo-pagina {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(112deg, rgba(18, 0, 96, 0.10) 16.83%, rgba(0, 0, 0, 0.09) 47.11%, rgba(66, 0, 146, 0.05) 81.73%, rgba(95, 0, 211, 0.05) 95.21%), #131313;
  height: 88vh;
}

.cadastro-modulo-container {
  background-color: #2E2E2F;
  width: 50%;
  border-radius: 40px;
  padding: 0 2.5rem;
  border-top: 8px solid #7C4CC6;
}

.cadastro-modulo-titulo, .cadastro-modulo-label {
    color: #FFFFFF;
    padding: 10px 0;
}

.cadastro-modulo-titulo {
  text-align: center;
  padding: 20px 0 20px 0;
  border-bottom: 2px solid #7C4CC6;
}

.cadastro-modulo-aviso {
  padding-top: 20px;
}

.cadastro-modulo-label span, .cadastro-modulo-aviso {
  color: #C64C4C;
}

.cadastro-modulo-campos-inline, .cadastro-modulo-campo {
  display: flex;
  width: 100%;
  padding: 5px 0px;
}


.cadastro-modulo-campos-inline {
  justify-content: space-between;
}

.cadastro-modulo-campos-inline .cadastro-modulo-campo {
  width: 48%;
}


.cadastro-modulo-campo {
  flex-direction: column;
}

.cadastro-modulo-input {
  height: 35px;
  border: none;
  border-radius: 10px;
  background-color: #3F3F40;
  color: #FFFFFF;
  padding-left: 10px;
}

.cadastro-modulo-input:focus{
   box-shadow: 0 0 0 0;
   outline: 0;
}

.cadastro-modulo-buttons {
  display: flex;
  justify-content: end;
  column-gap: 20px;
  padding: 30px 0;
}

.cadastro-modulo-buttons button {
  padding: 7px;
  width: 145px;
  border: none;
  color: #FFFFFF;
  border-radius: 10px;
  cursor: pointer;
}

#botao-um {
  background-color: transparent;
  border: 3px solid #7C4CC6;
}

#botao-dois {
  background-color: #7C4CC6;
}

/*
.cadastro-modulo-container form div {
  margin-bottom: 15px;
}

.cadastro-modulo-container label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.cadastro-modulo-container input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
} */

#file-upload-button {
  background-color: transparent;
}

/* .upload-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  padding: 10px 16px;
  background-color: #3F3F40;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;

  transition: background 0.2s;
}

.upload-btn:hover {
  background-color: #4338ca;
} */

/* Esconde o input */
input[type="file"] {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.upload-btn {
  background-color: #e7e7e7;
  border: 1px solid #ccc;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}



.file-field {
  display: flex;
  align-items: center;
  gap: 12px;

  background-color: #2a2a2e;
  padding: 10px 14px;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
}

.file-btn {
  background-color: #7c3aed; /* roxo */
  color: #fff;
  padding: 6px 14px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  white-space: nowrap;
  transition: background 0.2s;
}

.file-btn:hover {
  background-color: #6d28d9;
}

.file-name {
  color: #cfcfcf;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}