<div class="container-perfil">
  <section class="meus-modulos">
    <div class="titulo">
      <h1>Meus Módulos</h1>
      <button routerLink="/registrar-modulo">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <p>
      Quantidade: <strong>{{ totalModulos }}</strong>
    </p>
    <mat-divider></mat-divider>
    <div class="container-cards-modulos">
      <div class="card" *ngFor="let modulo of modulos">
        <app-cards-modulos
          [modulo]="modulo"
          (excluirModulo)="excluirModulo($event)"
        ></app-cards-modulos>
      </div>
    </div>
    <div class="botoes-navegacao-meus-modulos">
      <button class="botao-navegar-cards-meus-modulos" (click)="previousPage()">voltar</button>
      <button class="botao-navegar-cards-meus-modulos" (click)="nextPage()">avançar</button>
  </div>
  </section>
</div>
