.container-background {
  height: 88vh;
  background: linear-gradient(112deg, rgba(18, 0, 96, 0.10) 16.83%, rgba(0, 0, 0, 0.09) 47.11%, rgba(66, 0, 146, 0.05) 81.73%, rgba(95, 0, 211, 0.05) 95.21%), #131313;
}

.container-cadastro{
  width: 90%;
  margin: 0 auto;
  padding-top: 40px;
  color: white;
  
}


.sub-box{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding-top: 50px;

}
.sub-box-cards p{
  margin-bottom: 40px;
  margin-top: 60px;
}
.cards{
  display: flex;
  gap: 40px;
}

p {
  width: 100%;
  border-bottom: 2px solid #767676;
  font-size: 20px;
  padding-bottom: 50px;
}


