<div class="container-cadastro">
  <p>
    Selecione uma opção abaixo para cadastrar um novo usuário, módulo ou
    plataforma.
  </p>  
  <div class="box-container">
    <div class="sub-box">
      <div class="sub-box-cards">
        <div class="cards">
          <app-cards-cadastro
            nomeCard="Usuário"
            caminhoImagem="../../../assets/icons/icon-user.svg"
            caminhoUrl="../cadastro-usuario"
          ></app-cards-cadastro>
          <app-cards-cadastro
            nomeCard="Módulo"
            caminhoImagem="../../../assets/icons/icone-cadastrar-mod.png"
            caminhoUrl="../registrar-modulo"
          ></app-cards-cadastro>
          <app-cards-cadastro
            nomeCard="Plataforma"
            caminhoImagem="../../../assets/icons/icon-desktop.png"
            caminhoUrl="../cadastro-plataforma"
          ></app-cards-cadastro>
        </div>
      </div>
      
    </div>
  </div>
</div>
