:host {
  color: white;
}

.container-background {
  min-height: 92.1vh;
  background: linear-gradient(112deg, rgba(18, 0, 96, 0.10) 16.83%, rgba(0, 0, 0, 0.09) 47.11%, rgba(66, 0, 146, 0.05) 81.73%, rgba(95, 0, 211, 0.05) 95.21%), #131313;
} 

.container-perfil {
  width: 90%;
  margin: 0 auto;
  padding-top: 2.5rem;
  color: white;
}

.titulo {
  display: flex;
  height: 3.4375rem;
  padding: 0 1.5625rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 1.875rem;
  background: #2b2a2e;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.titulo h1 {
  color: var(--0-color);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: bold;
  font-weight: 700;
  line-height: normal;
}

.informacoes .titulo button {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.informacoes .titulo button mat-icon {
  color: white;
  font-size: 1rem;
}

.container-cards-modulos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.875rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}


.card:nth-child(1) {
  justify-self: start;
}

.card:nth-child(2) {
  justify-self: center;
}

.card:nth-child(3) {
  justify-self: end;
}

.meus-modulos p,
.minhas-plataformas p {
  margin-top: 1.875rem;
  color: #fff;
  font-family: 'Inter';
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

mat-divider {
  background-color: white;
  margin: 1.875rem 0;
}

.meus-modulos .titulo button,
.minhas-plataformas .titulo button {
  cursor: pointer;
  background: linear-gradient(180deg, #7C4CC6 0%, #5300F9 100%);
  outline: none;
  border: none;
  padding: .125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.meus-modulos .titulo button mat-icon,
.minhas-plataformas .titulo button mat-icon {
  color: white;
}

.card {
  margin-bottom: 20px;
}


.botoes-navegacao-minhas-plataformas {
  display: flex;
  justify-content: center;
  column-gap: .625rem;
}