.card-wrapper {
  width: 260px;
  border-radius: 15px;
  border-radius: 15px;
background: linear-gradient(90deg, rgba(124, 76, 198, 0.50) 0%, rgba(83, 0, 249, 0.50) 100%), #7C4CC6;
  padding-top: 8px; /* espessura da "borda" */
}

.container-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 260px;
  border: none;
  border-radius: 15px;
  background: linear-gradient(112deg, rgba(18, 0, 96, 0.10) 0%, rgba(0, 0, 0, 0.09) 32.21%, rgba(19, 0, 41, 0.09) 55.29%, rgba(95, 0, 211, 0.05) 95.21%, rgba(66, 0, 146, 0.05) 100%), #2B2A2E;
  box-shadow: 0px 0px 5.267px 0px rgba(0, 0, 0, 0.15);
  color: white;
  text-align: center;
  text-transform: capitalize;
  margin: 0 auto;
  /* margin-bottom: 75px; */
  font-size: 16px;
  height: 230px;
  /* border-top: 8px solid; */
  /* outline: 2px solid transparent; */
 
}

/* border-radius: 15px;
background: linear-gradient(90deg, rgba(124, 76, 198, 0.50) 0%, rgba(83, 0, 249, 0.50) 100%), #7C4CC6; */



.btn {
  width: 100%;
  height: 31.571px;
  padding: 0 20px;
  border-radius: 7px;
  background: linear-gradient(90deg, rgba(124, 76, 198, 0.50) 0%, rgba(83, 0, 249, 0.50) 100%), #7C4CC6;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
}
.box-content{
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 10px 0 0px 0;
  gap: 30px;
}

.title {
  padding: 0 10px;
}

.box-icon {
  border-radius: 3.94px;
  border: 1.477px solid #535353;
  background: #363638;
  width: 31.736px;
  height: 27.358px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  cursor: pointer;
}
.box-content .box-icon mat-icon {
  font-size: 20px;
}
/* .container-card:hover{
  border: 5px solid #9665df;
  outline-color: #9665df;
} */
.status {
  margin-bottom: 10px;
  font-weight: bold;
}

.status-publicado {
  color: #33B727;
}

.status-nao-publicado {
  color: #E45A5A;
}

mat-card-header {
  height: 100%;
  display: flex;
  align-items: center;
}

mat-card-actions {
  padding: 0;
}