.cadastro-plataforma-pagina {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(112deg, rgba(18, 0, 96, 0.10) 16.83%, rgba(0, 0, 0, 0.09) 47.11%, rgba(66, 0, 146, 0.05) 81.73%, rgba(95, 0, 211, 0.05) 95.21%), #131313;
  height: 88vh;
}

.cadastro-plataforma-container {
  background: linear-gradient(112deg, rgba(18, 0, 96, 0.10) 0%, rgba(0, 0, 0, 0.09) 32.21%, rgba(19, 0, 41, 0.09) 55.29%, rgba(95, 0, 211, 0.05) 95.21%, rgba(66, 0, 146, 0.05) 100%), #2B2A2E;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.25));
  width: 50%;
  border-radius: 40px;
  padding: 0 2.5rem;
  border-top: 8px solid #7C4CC6;
}

.cadastro-plaforma-aviso {
  padding: 25px 0 10px 0;
}

.cadastro-plataforma-titulo, .cadastro-plataforma-label {
  color: #FFFFFF;
  padding: 10px 0;
}

.cadastro-plataforma-titulo{
  text-align: center;
  padding: 20px 0 20px 0;
  border-bottom: 2px solid #7C4CC6;
}

.cadastro-plataforma-label span, .cadastro-plaforma-aviso, .validators {
  color: #C64C4C;
}

.forms-campo {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
}

.campos-inline {
  display: grid;
  grid-template-columns: 48% 48%;
  justify-content: space-between;
}

.cadastro-plataforma-input {
  height: 35px;
  border: none;
  border-radius: 10px;
  background-color: #3F3F40;
  color: #FFFFFF;
  padding-left: 10px;
  margin: 8px 0;
}

.buttons {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  padding: 30px;
}

.buttons button {
  padding: 7px;
  width: 145px;
  border: none;
  color: #FFFFFF;
  border-radius: 10px;
  cursor: pointer;
}

#botao-um {
  background-color: transparent;
  border: 3px solid #7C4CC6;
  color: #7C4CC6 !important;
}

#botao-um:hover {
  background: linear-gradient(90deg, rgba(124, 76, 198, 0.50) 0%, rgba(83, 0, 249, 0.50) 100%), #7C4CC6;
  color: #fff !important;
}


#botao-dois {
  border-radius: 10px;
  background: linear-gradient(90deg, rgba(124, 76, 198, 0.50) 0%, rgba(83, 0, 249, 0.50) 100%), #7C4CC6;
  
}

#botao-dois:hover {
  opacity: 50%;
}

 .validators {
  text-align: center;
  padding-bottom: 10px;
 }