<app-header-voltar texto="Cadastrar Plataforma"></app-header-voltar>
<div class="cadastro-plataforma-pagina">
  <section class="cadastro-plataforma-container">
    <h2 class="cadastro-plataforma-titulo">Cadastro de Plataforma</h2>
    <p class="cadastro-plaforma-aviso">*Indica uma pergunta obrigatória</p>
    <form
      [formGroup]="plataformaForm"
      (ngSubmit)="onSubmit()"
      class="forms"
      #formDir="ngForm"
    >
      <div class="forms-campo">
        <label for="plataformaNome" class="cadastro-plataforma-label">Nome da Ferramenta <span class="obrigatorio">*</span></label>
        <input class="cadastro-plataforma-input" type="text" formControlName="plataformaNome" placeholder="Nome da ferramenta"/>
      </div>
      <section class="campos-inline">
        <div class="forms-campo">
          <label for="plataformaUrl" class="cadastro-plataforma-label">URL da Plataforma <span class="obrigatorio">*</span></label>
          <input class="cadastro-plataforma-input" type="text" formControlName="plataformaUrl" placeholder="URL da plataforma"/>
        </div>
        <div class="forms-campo">
          <label for="idCliente" class="cadastro-plataforma-label">ID do Cliente <span class="obrigatorio">*</span></label>
          <input class="cadastro-plataforma-input" type="text" formControlName="idCliente" placeholder="Id do cliente"/>
        </div>
      </section>
      <div class="forms-campo">
        <label for="temaTipo"
          >Tema Visual <span class="obrigatorio">*</span></label
        >
        <select id="temaTipo" formControlName="temaTipo">
          <option value="padrao">Padrão</option>
          <option value="tema1">Tema 1</option>
          <option value="tema2">Tema 2</option>
          <option value="customizado">Personalizado</option>
        </select>
      </div>

      <!-- Campos de cor visíveis apenas se temaTipo === 'customizado' -->
      <div
        *ngIf="plataformaForm.get('temaTipo')?.value === 'customizado'"
        class="cores-customizadas"
      >
        <label>Cores personalizadas</label>

        <div class="campos-cores">
          <input type="color" formControlName="customPrimaria" title="Primária" class="input-cores"/>
          <input
            type="color"
            formControlName="customSecundaria"
            title="Secundária"
          />
          <input
            type="color"
            formControlName="customTerciaria"
            title="Terciária" class="input-cores"
          />
          <input
            type="color"
            formControlName="customQuartenaria"
            title="Quartenária" class="input-cores"
          />
          <input
            type="color"
            formControlName="customQuintenaria"
            title="Quintenária" class="input-cores"
          />

        </div>
      </div>

      <div class="buttons">
        <button (click)="home()" id="botao-um">Cancelar</button>
        <button type="submit" id="botao-dois">Cadastrar</button>
      </div>
      <div
        *ngIf="
          (plataformaForm.invalid ||
            plataformaNome.invalid ||
            idCliente.invalid) &&
          formDir.submitted
        "
      >
        <p class="validators">Preencha todos os campos!</p>
      </div>
    </form>
  </section>
</div>
