
<div class="box">
  <app-header-voltar texto="Cadastrar Plataforma"></app-header-voltar>
  <div class="container">
    <div class="cadastro-plataforma-container">
      <h2>Formulário de Cadastro de Plataforma</h2>
      <mat-divider></mat-divider>
    </div>
    <p class="texto">* Indica uma pergunta obrigatória</p>
      <form id="form" class="form">
          <div class="campos">
              <div class="form-conteudo">
                  <label for="nome-plataforma">Nome módulo<span>*</span></label>
                  <input type="text"
                  id="nome"
                  placeholder="Digite nome do tópico">
              </div>

              <div class="form-conteudo">
                  <label for="urlPlataforma">URL da Plataforma<span>*</span></label>
                  <input type="url"
                  id="urlPlataforma"
                  placeholder="Digite URL do slide">
                  <mat-icon class="icon-ajuda">help_outline</mat-icon>
              </div>
              <div class="form-conteudo">
                  <label for="idCliente">ID do Cliente <span>*</span></label>
                  <input type="text"
                  id="idCliente"
                  placeholder="Digite">
                  <mat-icon class="icon-ajuda">help_outline</mat-icon>
              </div>
          </div>

        <section class="container-options">
          <div class="buttons">
            <button  class="button-one">Cancelar</button>
            <button class="button-two">
                Confirmar
            </button>
          </div>
        </section>
      </form>
</div>



<!-- <div class="container-pagina">
  <main class="section">
    <div class="section-titulo">
      <h1>Cadastro de Plataforma</h1>
      <mat-divider></mat-divider>
      <p>*Indica uma pergunta obrigatória</p>
    </div>

    <form
      [formGroup]="plataformaForm"
      (ngSubmit)="onSubmit()"
      class="forms"
      #formDir="ngForm"
    >
      <div class="forms-campo">
        <label for="plataformaNome"
          >Nome da Ferramenta <span class="obrigatorio">*</span></label
        >
        <input
          id="plataformaNome"
          type="text"
          formControlName="plataformaNome"
          placeholder="Digitar..."
        />
      </div>
      <section class="campos">
        <div class="forms-campo">
          <label for="plataformaUrl"
            >URL da Plataforma <span class="obrigatorio">*</span></label
          >
          <input
            id="plataformaUrl"
            type="text"
            formControlName="plataformaUrl"
            placeholder="Digitar..."
          />
        </div>
        <div class="forms-campo">
          <label for="idCliente"
            >ID do Cliente <span class="obrigatorio">*</span></label
          >
          <input
            id="idCliente"
            type="text"
            formControlName="idCliente"
            placeholder="Digitar..."
          />
        </div>
      </section>
      <div class="buttons">
        <button (click)="home()" class="button-one">Cancelar</button>
        <button type="submit" class="button-two">Cadastrar</button>
      </div>
      <div
        *ngIf="
          (plataformaForm.invalid ||
            plataformaNome.invalid ||
            idCliente.invalid) &&
          formDir.submitted
        "
      >
        <p class="validators">Preencha todos os campos!</p>
      </div>
    </form>
  </main>
</div> -->
