.container-pagina {
  background-color: #131313;
  min-height: 80%;
  padding: 30px 0;
}
.section {
  border-radius: 15px;
  border: 1px solid #404040;
  background: #2b2a2e;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
  color: white;
}

.section-titulo {
  padding: 20px 40px 0px 40px;
  line-height: 60px;
}

.section-titulo > p,
.obrigatorio {
  color: #fa7878;
}

.forms {
  display: grid;
  grid-template-columns: 90%;
  justify-content: center;
}

.forms-campo {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 15px 10px;
  row-gap: 10px;
}

.forms-campo > input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #9a9a9a;
}

input:focus,
select:focus {
  outline: 0;
}

.campos {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 0px;
}

.buttons {
  text-align: center;
  padding: 40px 0;
  color: white;
}
.buttons button{
  cursor: pointer;
  width: 130px;
  padding: 8px;
  border-radius: 6px;
}

.button-one {
  background-color: transparent;
  border: 1px solid #9a9a9a;
  margin-right: 20px;
  color: white;
}

.button-two {
  border: none;
  background-color: #864fd9;
  color: #ffffff;
}

.validators {
  color: #fa7878;
  font-size: 12px;
  text-align: center;
  padding-bottom: 10px;
}
mat-divider {
  background-color: #818181;
  height: 2px;
  margin-bottom: 5px;
  margin-top: 5px;
}
