<div class="container-plataformas">
  <app-titulo-secao
    titulo="Plataformas"
    caminhoUrl="../cadastro-plataforma"
    [quantidade]="totalPlataformas"
    nomeCard="plataformas"
  ></app-titulo-secao>

  <div class="container-cards-plataformas">
    <div class="card" *ngFor="let plataforma of plataformas">
      <app-cards-plataformas
        [plataforma]="plataforma"
        (excluirPlataforma)="excluirPlataforma($event)"
      ></app-cards-plataformas>
    </div>
  </div>

  <div class="container-botoes-navegacao">
    
    
    <div class="indicadores-pagina">
  <a (click)="previousPage()" class="botao-voltar" [style.opacity]="currentPage > 1 ? '1' : '0'" [style.pointer-events]="currentPage > 1 ? 'auto' : 'none'">
    <img src="../../../assets/icons/voltar.png" alt="voltar">
  </a>
  
  <!-- Indicador de mais páginas à esquerda -->
  <div *ngIf="shouldShowLeftIndicator" class="indicador-mais-paginas">
    <span class="pontos">•••</span>
  </div>
  
  <button 
    *ngFor="let page of paginationPages"
    class="indicador-pagina" 
    [class.ativo]="currentPage === page"
    (click)="goToPage(page)">
    {{ page }}
  </button>
  
  <!-- Indicador de mais páginas à direita -->
  <div *ngIf="shouldShowRightIndicator" class="indicador-mais-paginas">
    <span class="pontos">•••</span>
  </div>
  
  <a (click)="nextPage()" class="botao-avançar" [style.opacity]="currentPage < quantidade_pages ? '1' : '0'" [style.pointer-events]="currentPage < quantidade_pages ? 'auto' : 'none'">
    <img src="../../../assets/icons/proximo.svg" alt="avançar">
  </a>
</div>
</div>
</div>

