<div class="container-plataformas">
  <app-titulo-secao
    titulo="Plataformas"
    caminhoUrl="../cadastro-plataforma"
    [quantidade]="totalPlataformas"
    nomeCard="plataformas"
  ></app-titulo-secao>

  <div class="container-cards-plataformas">
    <div class="card" *ngFor="let plataforma of plataformas">
      <app-cards-plataformas
        [plataforma]="plataforma"
        (excluirPlataforma)="excluirPlataforma($event)"
      ></app-cards-plataformas>
    </div>
  </div>
  <div class="botoes-navegacao-plataformas">
      <button class="botao-navegar-cards-plataforma" (click)="previousPage()">voltar</button>
      <button class="botao-navegar-cards-plataforma" (click)="nextPage()">avançar</button>
  </div>
</div>

