.container-background {
  min-height: 92.1vh;
  background: linear-gradient(112deg, rgba(18, 0, 96, 0.10) 16.83%, rgba(0, 0, 0, 0.09) 47.11%, rgba(66, 0, 146, 0.05) 81.73%, rgba(95, 0, 211, 0.05) 95.21%), #131313;
}

.container-dashboard {
  width: 90%;
  margin: 0 auto;
  padding-top: 40px;
  color: white;
}
