.container-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  border: none;
  border-radius: 15px;
  background: #2b2a2e;
  box-shadow: 0px 0px 5.267px 0px rgba(0, 0, 0, 0.15);
  color: white;
  text-align: center;
  text-transform: capitalize;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 16px;
  border: 2px solid #7C4CC6;
  padding: 0 20px;
}

.icone-template {
  position: absolute;
  left: -25px;
  top: -15px;
}


.titulo-dialog {
    width: 87%;
    color: #FFF;
    margin: 0 auto;
    text-align: center;
    padding: 40px 0 25px 0;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-bottom: 2px solid #7C4CC6;
}

.container-inputs, .form-field {
    display: flex;
    flex-direction: column;
    
}

.container-inputs {
    width: 93%;
    margin: 0 auto;
    row-gap: 18px;
}

.label {
    color: #FFF;
    padding-bottom: 5px;
}

input {
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #3F3F40;
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 12px;
}

input::placeholder {
    color: #767676;
}

.botoes {
    display: flex;
    justify-content: center;
    column-gap: 31px;
}

.botoes button {
    width: 120px;
    height: 35px;
    border-radius: 10px;
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.cancelar {
    border: 3px solid #7C4CC6;
    background-color: transparent;
    color: #7C4CC6;
}

.salvar {
    border: none;
    background: linear-gradient(90deg, rgba(124, 76, 198, 0.50) 0%, rgba(83, 0, 249, 0.50) 100%), #7C4CC6;
}

.salvar:hover, .cancelar:hover {
    opacity: 50%;
}

.btn {
  width: 100%;
  height: 31.571px;
  padding: 0 20px;
  border-radius: 5.571px;
  background: var(--2, #793cd4);
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
}
.box-content{
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 10px 0 20px 0;
  gap: 50px;
}

.box-icon {
  border-radius: 3.94px;
  border: 1.477px solid #535353;
  background: #363638;
  width: 31.736px;
  height: 27.358px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  cursor: pointer;
}
.box-content .box-icon mat-icon {
  font-size: 20px;
}
.container-card:hover{
  border: 2px solid #9665df;
}
.status {
  margin-bottom: 10px;
  font-weight: bold;
}

.status-publicado {
  color: #84DD7C;
}

.status-nao-publicado {
  color: #FA7878;
}

.nome-modulo {
  width: 100%;
  text-align: center;
}