<div class="confirmacao-container">
    <div class="confirmacao-card">
        <div class="confirmacao-header">
            <h2 class="confirmacao-titulo">Insira o código</h2>
            <p class="confirmacao-subtitulo">
                Não recebeu o código no seu E-mail?
                <span class="confirmacao-link">Reenviar código.</span>
            </p>
        </div>

        <form id="form" class="confirmacao-form">
            <div class="campo-form">
                <label for="codigo" class="campo-label">Código de acesso</label>
                <input type="password" id="codigo" name="codigo" class="campo-input" placeholder="Digite seu código"
                    formControlName="codigo" />
            </div>

            <div class="acoes-form">
                <button type="button" class="btn-enviar">
                    Enviar
                </button>
            </div>
        </form>
    </div>
</div>