.titulo {
    color: #FFF;
    margin: 0 auto;
    text-align: center;
    padding: 15px 0 5px 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.mensagem {
    color: #FFF;
    margin: 0 auto;
    text-align: center;
}

.botoes {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.botoes button {
    width: 120px;
    height: 35px;
    border-radius: 10px;
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.cancelar {
    border: 3px solid #7C4CC6;
    background-color: transparent;
    color: #7C4CC6 !important;
}


.salvar {
    border: none;
    background: linear-gradient(90deg, rgba(124, 76, 198, 0.50) 0%, rgba(83, 0, 249, 0.50) 100%), #7C4CC6;
}

.salvar:hover, .cancelar:hover {
    opacity: 50%;
}