<form>

  <h2 mat-dialog-title class="h2_exclui">
    Excluir módulo
  </h2>

  <mat-dialog-content>

    <p class="p_senha">Senha</p>

    <mat-form-field class="senha-adm" appearance="outline">
      <input matInput placeholder="Digite sua senha" [(ngModel)]="senhaAdm"
        [ngModelOptions]="{ standalone: true }" type="password" autocomplete="new-password" />
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions align="end">

    <button type="button" class="bt1" mat-raised-button (click)="onCancelar()">
      Cancelar
    </button>

    <button type="button" class="bt2" mat-raised-button (click)="onConfirmar()">
      Confirmar
    </button>

  </mat-dialog-actions>

</form>

