.container-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  border: 0.8px solid #404040;
  background: #2b2a2e;
  box-shadow: 0px 0px 5.267px 0px rgba(0, 0, 0, 0.15);
  color: white;
  margin-bottom: 1rem;
  padding: 0 10px;
  box-sizing: border-box;
  border: 2px solid transparent;
}

.container-card:hover {
  box-sizing: border-box;
  border: 2px solid #7C4CC6;
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
}

.img img{
   width: 38px;
  height: 38px;
  border-radius: 73px;
}

.img p {
  font-size: 28px;
}

.informacoes {
  display: flex;
  flex-direction: column;
}

.btn {
  width: 125px;
  height: 36px;
  padding: 0 20px;
  border-radius: 7px;
  background: linear-gradient(90deg, rgba(124, 76, 198, 0.50) 0%, rgba(83, 0, 249, 0.50) 100%), #7C4CC6;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
}
.content {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  column-gap: 10px;
}
.content mat-icon {
  font-size: 20px;
  cursor: pointer;
}
.box-icon {
  border-radius: 3.94px;
  border: 1.477px solid #535353;
  background: #363638;
  width: 31.736px;
  height: 27.358px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  cursor: pointer;
}
