.container-modulos {
  width: 100%;
  margin: 0 auto;
  padding-top: 40px;
  color: white;
}

.container-cards-modulos{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* column-gap: 10px; */
}

