<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer mode="side" opened="true" class="sidenav">
    <div class="logo">
      <img src="assets/icons/Tecnocomp.svg" alt="logo" />
    </div>
    <div class="titulo">
      <p>Links</p>
      <mat-divider></mat-divider>
    </div>
    <mat-nav-list class="nav-list">
      <a routerLink="/tecnocomp/dashboard" routerLinkActive="active">
        <mat-icon svgIcon="estrela"></mat-icon>
        Dashboard
      </a>
      <a routerLink="/tecnocomp/cadastros" routerLinkActive="active">
        <mat-icon>add</mat-icon>
        Cadastrar
      </a>
      <a routerLink="/tecnocomp/meu-perfil" routerLinkActive="active">
        <mat-icon svgIcon="perfil"></mat-icon>
        Meu perfil
      </a>
      <!-- Administrador -->
      <a
        *ngIf="isAdmin"
        routerLink="/tecnocomp/usuarios"
        routerLinkActive="active"
      >
        <mat-icon>person</mat-icon>
        Usuarios
      </a>
      <a
        *ngIf="isAdmin"
        routerLink="/tecnocomp/modulos"
        routerLinkActive="active"
      >
        <mat-icon svgIcon="modulos"></mat-icon>
        Modulos
      </a>
      <a
        *ngIf="isAdmin"
        routerLink="/tecnocomp/plataformas"
        routerLinkActive="active"
      >
        <mat-icon svgIcon="plataformas"></mat-icon>
        Plataformas
      </a>

      <!-- Professor -->
      <a
        *ngIf="isProfessor"
        routerLink="/tecnocomp/templates"
        routerLinkActive="active"
      >
        <mat-icon>person</mat-icon>
        Usuários
      </a>
      <a
        *ngIf="isProfessor"
        routerLink="/tecnocomp/meus-modulos"
        routerLinkActive="active"
      >
        <mat-icon svgIcon="modulos"></mat-icon>
        Módulos
      </a>
      <a
        *ngIf="isProfessor"
        routerLink="/tecnocomp/minhas-plataformas"
        routerLinkActive="active"
      >
        <mat-icon svgIcon="plataformas"></mat-icon>
        Plataformas
      </a>
    </mat-nav-list>

    <div class="caixa-perfil">
      <div class="imagem" *ngIf="this.getUsuarioDados()">
        <img
          *ngIf="this.getUsuarioDados().url_foto; else letra"
          [src]="this.getUsuarioDados().url_foto"
        />

        <ng-template #letra>
          <p>{{ this.getUsuarioDados().username.charAt(0) }}</p>
        </ng-template>
      </div>

      <div class="texto">
        <p>{{ getUsuarioDados().username }}</p>
        <p style="color: #a3a3a3">{{ getUsuarioDados().email }}</p>
      </div>
      <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">
          <mat-icon>close</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </mat-drawer>

  <mat-drawer-content class="main-content">
    <header class="header">
      <img [src]="this.currentIcone" (click)="toggleDrawer()" style="cursor: pointer;"/>
      <h1>{{ currentPageTitle }}</h1>
      <form action="/pesquisa" method="get" class="input-pesquisa">
        <input type="search" placeholder="Pesquisar..." required />
      </form>
    </header>

    <div class="container-conteudo">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
