.drawer-container {
  height: 100vh;
  background: linear-gradient(112deg, rgba(18, 0, 96, 0.10) 16.83%, rgba(0, 0, 0, 0.09) 47.11%, rgba(66, 0, 146, 0.05) 81.73%, rgba(95, 0, 211, 0.05) 95.21%), #131313;
}

.sidenav {
  width: 20rem;
  background: #2C2C2E;
  color: white;
}

.logo {
  text-align: center;
  padding: 1.25rem 0;
  font-size: 18px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 1.75rem;
  align-items: center;
  height: 4.625rem;
  background: #0E0E0E;
  color: white;
}

.header img {
  padding-right: 2.0625rem;
}

.header h1 {
  font-size: 1.5rem;
  font-family: 'Inter';
  font-weight: bold;
  font-weight: 700;
  padding-right: 8.8125rem;
}

.header form input {
  background-color: transparent;
  width: clamp(29rem, 31.75rem + 2vh, 31.8rem);
  height: clamp(.5rem,2.18rem + 2vh, 2.2rem);
  border: 2px solid var(--0-color);
  border-radius: 30px;
  background-image: url(../../../assets/icons/lupa_plataformas.svg);
  background-repeat: no-repeat;
  background-position: 14px 50%;
  padding-left: 40px;
  color: var(--0-color);
}

input::placeholder {
  color: var(--0-color);
  opacity: 70%;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 1rem;
}

.titulo {
  width: 90%;
  margin: 0 auto;
  color: #959595;
}

.titulo mat-divider {
  background: white;
  margin: 1.25rem 0;
}

.caixa-perfil {
  width: 90%;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin: 0 auto;
  justify-content: space-between;
}

.caixa-perfil .imagem,
.caixa-perfil .imagem img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 2.5rem;
  border: 1.5px solid var(--Primaria, #9665df);
}

.caixa-perfil .imagem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.caixa-perfil .imagem p {
  font-size: 1.5rem;
}

.nav-list {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  row-gap: 1.25rem;
}

.nav-list a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  padding: .625rem;
  gap: .9375rem;
}

.active {
  border-radius: 10px;
  background: #7C4CC6;
}

.container-conteudo {
  width: 100%;
  min-height: 88vh;
  height: auto;
  margin: 0 auto;
  background: var(--Background, #131313);
}