<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer mode="side" opened="true" class="sidenav">
    <div class="logo">
      <img src="../../../assets/logo.png" alt="logo" />
    </div>
    <div class="titulo">
      <p>Links</p>
      <mat-divider></mat-divider>
    </div>
    <mat-nav-list class="nav-list">
      <a routerLink="/dashboard" routerLinkActive="active">
        <mat-icon>home</mat-icon>
        Dashboard
      </a>
      <a routerLink="/cadastros" routerLinkActive="active">
        <mat-icon>add</mat-icon>
        Cadastrar
      </a>
      <a routerLink="/meu-perfil" routerLinkActive="active">
        <mat-icon>add</mat-icon>
        Meu perfil
      </a>
      <!-- Administrador -->
      <a *ngIf="isAdmin" routerLink="/usuarios" routerLinkActive="active">
        <mat-icon>person</mat-icon>
        Usuarios
      </a>
      <a *ngIf="isAdmin" routerLink="/modulos" routerLinkActive="active">
        <mat-icon>devices</mat-icon>
        Modulos
      </a>
      <a *ngIf="isAdmin" routerLink="/plataformas" routerLinkActive="active">
        <mat-icon>view_module</mat-icon>
        Plataformas
      </a>

      <!-- Professor -->
      <a *ngIf="isProfessor" routerLink="/templates" routerLinkActive="active">
        <mat-icon>person</mat-icon>
        Templates
      </a>
      <a *ngIf="isProfessor" routerLink="/meus-modulos" routerLinkActive="active">
        <mat-icon>devices</mat-icon>
        Meus Modulos
      </a>
      <a *ngIf="isProfessor" routerLink="/minhas-plataformas" routerLinkActive="active">
        <mat-icon>view_module</mat-icon>
        Minhas Plataformas
      </a>

    </mat-nav-list>

    <div class="caixa-perfil">
      <div class="imagem"></div>
      <div class="texto">
        <p>{{ getUsuarioDados().username }}</p>
        <p style="color: #a3a3a3">{{ getUsuarioDados().email }}</p>
      </div>
      <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">
          <mat-icon>close</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </mat-drawer>

  <mat-drawer-content class="main-content">
    <header class="header">
      <mat-icon
      style="cursor: pointer;"
      (click)="toggleDrawer()"
    >
      {{ isDrawerOpen ? 'arrow_back' : 'arrow_forward' }}
    </mat-icon>
    <h1>{{ currentPageTitle }}</h1>
      <mat-form-field>
        <mat-label>Pesquisar</mat-label>
        <input matInput placeholder="Ex: Usuários, Plataformas..." />
      </mat-form-field>
      <button mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
    </header>

    <div class="container-conteudo">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

