<mat-horizontal-stepper linear #stepper>
  <!-- Etapa 1: Dados Básicos -->
  <mat-step [stepControl]="dadosBasicosFormGroup">
    <form [formGroup]="dadosBasicosFormGroup">
      <h3>Dados Básicos</h3>
      <mat-form-field appearance="fill">
        <mat-label>Nome do Tópico</mat-label>
        <input matInput formControlName="nome_topico" required />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Texto de Apoio</mat-label>
        <textarea matInput formControlName="textoApoio"></textarea>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Ebook Geral</mat-label>
        <input matInput formControlName="ebookUrlGeral" />
      </mat-form-field>

      <div>
        <button mat-button matStepperNext>Próximo</button>
      </div>
    </form>
  </mat-step>

  <!-- Etapa 2: URLs de Vídeos -->
  <mat-step [stepControl]="videoUrlsFormGroup">
    <form [formGroup]="videoUrlsFormGroup">
      <h3>URLs de Vídeos</h3>
      <div formArrayName="videoUrls">
        <div *ngFor="let videoUrl of videoUrls.controls; let i = index">
          <mat-form-field appearance="fill">
            <mat-label>URL do Vídeo {{ i + 1 }}</mat-label>
            <input matInput [formControlName]="i" required />
          </mat-form-field>
          <button mat-button color="warn" *ngIf="i > 0" (click)="removerVideoUrl(i)">Remover</button>
        </div>
      </div>
      <button mat-button (click)="adicionarVideoUrl()">Adicionar URL</button>
      <div>
        <button mat-button matStepperPrevious>Anterior</button>
        <button mat-button matStepperNext>Próximo</button>
      </div>
    </form>
  </mat-step>

  <!-- Etapa 3: Saiba Mais -->
  <mat-step [stepControl]="saibaMaisFormGroup">
    <form [formGroup]="saibaMaisFormGroup">
      <h3>Saiba Mais</h3>
      <div formArrayName="saibaMais">
        <div *ngFor="let sm of saibaMais.controls; let i = index" [formGroupName]="i">
          <mat-form-field appearance="fill">
            <mat-label>Descrição</mat-label>
            <input matInput formControlName="descricao" required />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>URL</mat-label>
            <input matInput formControlName="url" required />
          </mat-form-field>
          <button mat-button color="warn" *ngIf="i > 0" (click)="removerSaibaMais(i)">Remover</button>
        </div>
      </div>
      <button mat-button (click)="adicionarSaibaMais()">Adicionar Saiba Mais</button>
      <div>
        <button mat-button matStepperPrevious>Anterior</button>
        <button mat-button matStepperNext>Próximo</button>
      </div>
    </form>
  </mat-step>

  <!-- Etapa 4: Referências -->
  <mat-step [stepControl]="referenciasFormGroup">
    <form [formGroup]="referenciasFormGroup">
      <h3>Referências</h3>
      <div formArrayName="referencias">
        <div *ngFor="let ref of referencias.controls; let i = index" [formGroupName]="i">
          <mat-form-field appearance="fill">
            <mat-label>Caminho da Imagem</mat-label>
            <input matInput formControlName="caminhoDaImagem" required />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Texto da Referência</mat-label>
            <input matInput formControlName="referencia" required />
          </mat-form-field>
          <button mat-button color="warn" *ngIf="i > 0" (click)="removerReferencia(i)">Remover</button>
        </div>
      </div>
      <button mat-button (click)="adicionarReferencia()">Adicionar Referência</button>
      <div>
        <button mat-button matStepperPrevious>Anterior</button>
        <button mat-button matStepperNext>Próximo</button>
      </div>
    </form>
  </mat-step>

  <!-- Etapa 5: Exercícios -->
  <mat-step [stepControl]="exerciciosFormGroup">
    <form [formGroup]="exerciciosFormGroup">
      <h3>Exercícios</h3>
      <div formArrayName="exercicios">
        <div *ngFor="let exercicio of exercicios.controls; let i = index" [formGroupName]="i">
          <mat-form-field appearance="fill">
            <mat-label>Questão do Exercício</mat-label>
            <input matInput formControlName="questao" required />
          </mat-form-field>

          <h4>Alternativas</h4>
          <div formArrayName="alternativas">
            <div *ngFor="let alt of alternativas(i).controls; let j = index" [formGroupName]="j">
              <mat-form-field appearance="fill">
                <mat-label>Descrição</mat-label>
                <input matInput formControlName="descricao" required />
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Explicação</mat-label>
                <input matInput formControlName="explicacao" required />
              </mat-form-field>
              <mat-radio-group
                formControlName="correta"
                [value]="true"
                (change)="setAlternativaCorreta(i, j)"
              >
                <mat-radio-button [value]="true">Correta</mat-radio-button>
              </mat-radio-group>
              <button mat-button color="warn" (click)="limparAlternativa(i, j)">Limpar Dados</button>
            </div>
          </div>
        </div>
      </div>
      <div>
        <button mat-button matStepperPrevious>Anterior</button>
        <button mat-button matStepperNext [disabled]="!isAlternativaCorretaValida()">Revisar</button>
      </div>
    </form>
  </mat-step>


  <!-- Etapa 6: Revisão -->
  <mat-step>
    <h3>Revisar Informações</h3>
    <p><strong>Nome do Tópico:</strong> {{ dadosBasicosFormGroup.value.nome_topico }}</p>
    <p><strong>Texto de Apoio:</strong> {{ dadosBasicosFormGroup.value.textoApoio }}</p>
    <p><strong>Ebook Geral:</strong> {{ dadosBasicosFormGroup.value.ebookUrlGeral }}</p>
    <p><strong>URLs de Vídeos:</strong></p>
    <ul>
      <li *ngFor="let url of videoUrlsFormGroup.value.videoUrls">{{ url }}</li>
    </ul>
    <p><strong>Saiba Mais:</strong></p>
    <ul>
      <li *ngFor="let sm of saibaMaisFormGroup.value.saibaMais">
        Descrição: {{ sm.descricao }}, URL: {{ sm.url }}
      </li>
    </ul>
    <p><strong>Referências:</strong></p>
    <ul>
      <li *ngFor="let ref of referenciasFormGroup.value.referencias">
        Caminho da Imagem: {{ ref.caminhoDaImagem }}, Texto: {{ ref.referencia }}
      </li>
    </ul>
    <p><strong>Exercícios:</strong></p>
    <ul>
      <li *ngFor="let exercicio of exerciciosFormGroup.value.exercicios">
        Questão: {{ exercicio.questao }}
        <ul>
          <li *ngFor="let alternativa of exercicio.alternativas">
            Descrição: {{ alternativa.descricao }}, Explicação: {{ alternativa.explicacao }}, Correta: {{ alternativa.correta }}
          </li>
        </ul>
      </li>
    </ul>
    <div>
      <button mat-button matStepperPrevious>Anterior</button>
      <button mat-button color="primary" (click)="onSubmit()">Finalizar</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
