.container-pagina {
  background: linear-gradient(112deg, rgba(18, 0, 96, 0.10) 16.83%, rgba(0, 0, 0, 0.09) 47.11%, rgba(66, 0, 146, 0.05) 81.73%, rgba(95, 0, 211, 0.05) 95.21%), #131313;
  min-height: 88vh;
  align-content: center;
}

.formulario {
  width: 60%;
  max-width: 1100px;
  padding: 10px 20px;
  border-radius: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  gap: 20px;
  background-color: #2C2C2E;
  border-top: 8px solid #7C4CC6;

}
.mat-stepper-horizontal {
  background-color: transparent;
}

.mat-form-field {
  position: relative;
}

.field-url-video button {
  position: absolute;
  top: 37px;
  right: 10px;
}


.titulo-etapa {
  color: #ffffff;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

mat-divider {
  background-color: #7C4CC6;
  height: 2px;
  margin-bottom: 20px;
  margin-top: 20px;
}

h3 {
  color: white;
}
/* Campos de formulário */
.campo-formulario {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mat-form-field {
  display: flex;
  flex-direction: column;
  color: white;
  row-gap: 10px;
  padding-bottom: 15px;
}

.mat-form-field input {
  height: 42px;
  background-color: #3F3F40;
  border: none;
  color: white;
  padding-left: 10px;
}

.mat-form-field {
  position: relative;
}

input,
textarea {
  border-radius: 5px;
  /* padding: 10px; */
  background-color: #3F3F40;
  border: none;
}

.passo1-botao-proximo {
  display: flex;
  margin-top: 10px;
  position: relative;
  align-items: center;
}

.adicionar {
  display: flex;
} 

.passo1-botao-proximo .proximo, .proximo, .voltar, .remover, .adicionar, .anterior {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  column-gap: 10px;
}

.proximo {
  margin-left: auto;
}

.passo1-botao-proximo .proximo:hover {
  opacity: 50% !important;
}

.botoes .salvar {
  width: 185px;
  height: 35px;
  border-radius: 10px;
  background: linear-gradient(90deg, rgba(124, 76, 198, 0.50) 0%, rgba(83, 0, 249, 0.50) 100%), #7C4CC6;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  
}


.field-url-video button {
  position: absolute;
  top: 27px;
  right: 10px;
}

.icone-adicionar, .icone-remover, .remover{
   border-radius: 50% !important;
   background-color: #7C4CC6;
   height: 25px;
   width: 25px;
}



 
.botao-remover
.botao-adicionar {
  position: relative;
  top: -25px;
  margin-bottom: 0;
}

.botao-adicionar {
  top: -40px !important;
  padding: 10px 0;
}


.botao-remover, 
.botao-adicionar{
  top: -20px;
}


.remover {
  background-color: #ff5722; /* Laranja destaque */
}

.icone-remover {
  background-color: #ff5722 !important;
} 

.icone-adicionar{
   border-radius: 50%;
   background-color: #7C4CC6;
   height: 25px;
   width: 25px;
}


/* Botões */
.botaos-type-questao {
  display: flex;
}


button {
  margin-top: 10px;
}

.botoes {
  display: flex;
  width: 100%;
  justify-content: space-between;
}


.mat-form-field {
  position: relative;
}

.divider-bottom {
  margin-bottom: 10px;
}


.salvar{
  background-color: green;
}
.box-input {
  display: flex;
  gap: 20px;
}

/* Título do passo de revisão */
.revisao-titulo {
  font-size: 2rem;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}
/* Seções de revisão */
.revisao-secao {
  margin-bottom: 25px;
  padding: 10px 15px;
  background-color: #2c2c2c; /* Fundo levemente mais claro que a página */
  border-radius: 8px;
}

.revisao-secao strong {
  color: #fff; /* Destaque para os títulos das informações */
  font-size: 1.3rem;
}

.revisao-secao p {
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.5;
}

.revisao-secao ul {
  margin-left: 20px;
}

.revisao-secao li {
  color: #ffffff;
  font-size: 1rem;
  margin: 15px 0;
}
a{
  color: white;

}
.correto{
  color: green;
}
.errado{
  color: #ff5722;
}


.botoes-tipo-questao {
  display: flex;
  column-gap: 10px;
}

.botoes-tipo-questao button {
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 35px;
  width: 209px;
  border: none;
  color: white;
  padding: 10px;
  justify-content: center;
  border-radius: 10px;
  column-gap: 10px;
  border: 2px solid white;
  cursor: pointer
}

.botoes-tipo-questao button:hover {
  background-color: #7C4CC6;
  border-color: #7C4CC6;
}

.botao-questao-ativa {
  background-color: #7C4CC6 !important;
  border: none !important;
}

.questao-aberta {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 10px;
  color: white;
}

.questao-aberta-resposta-esperada {
  height: 150px;
  border: none;
  color: white;
}

.questao-aberta-resposta-esperada:focus {
  outline: 0;
  box-shadow: 0 0 0 0;
}

.limpar-dados {
  width: 153px;
  height: 35px;
  background-color: transparent;
  border: 2px solid #7C4CC6;
  border-radius: 10px;

  color: #7C4CC6;
}


/* Responsividade */
@media (max-width: 1100px) {
  .formulario {
    width: 70%;
  }
}

@media (max-width: 800px) {
  .formulario {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .formulario {
    width: 100%;
    margin: 0 10px; /* Adiciona margens laterais */
  }
}
