.container-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 170px;
  border-radius: 12px;
  border: 0.8px solid #404040;
  border-radius: 15px;
border-top: 7px solid #7C4CC6;
background: linear-gradient(112deg, rgba(18, 0, 96, 0.10) 0%, rgba(0, 0, 0, 0.09) 32.21%, rgba(19, 0, 41, 0.09) 55.29%, rgba(95, 0, 211, 0.05) 95.21%, rgba(66, 0, 146, 0.05) 100%), #2B2A2E;
  box-shadow: 0px 0px 5.267px 0px rgba(0, 0, 0, 0.15);
  color: white;
  border-top: 8px solid #7C4CC6;
  padding: 15px 0 5px 0;
}

.card-icon {
  padding: 20px 0;
}

.btn {
  width: 100%;
  height: 31.571px;
  padding: 0 20px;
  border-radius: 7px;
background: linear-gradient(90deg, rgba(124, 76, 198, 0.50) 0%, rgba(83, 0, 249, 0.50) 100%), #7C4CC6;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
}
