
.box{
    height: 100vh;
    color: #FFFFFF;
    background-color: #131313;
}

.header {
  display: flex;
  background-color:#0E0E0E;
  align-items: center;
}

h1{
  font-size: 24px;
}

span {
  color:#fa7878
}

.titulo{
  height: 10%;
}

.container {
  border-radius: 15px;
  border: 1px solid #404040;
  background: #2b2a2e;
  border-top: 5px solid #864FD9;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  padding: 40px 50px;
  margin-top: 50px;
  width: 62%;
}

.titulo-formulario {
  padding: 0;
  margin-bottom: 20px;
  text-align: center;
}

.titulo-formulario h2 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

.texto {
  color:#fa7878;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

.form-conteudo {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 400;
}

.form-conteudo label {
  color: white;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 6px;

}

.form-conteudo input {
  background-color: #38383A;
  border: 1px solid #38383A;
  border-radius: 6px;
  color: white;
  font-size: 14px;
  padding: 0 8px;
  height: 40px;
  width: 100%;
}

.form-conteudo-tipo mat-radio-group, .form-conteudo-tipo-filho{
  display: flex;
  align-items: center;
  gap: 40px;

}

/* .form-conteudo-tipo select {
  display: block;
  margin-top: 10px;
  background-color: #38383A;
  border: 1px solid #D9D9D9;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  padding: 8px;
  width: 100%;
  height: 40px;
} */

.form-conteudo-tipo label {
  color: white;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 6px;
  margin-top: 10px;
  background-color: #2B2A2E;
}

.campo-senha {
  display: flex;
  justify-content: space-between;
}


.campo-senha input {
  width: 345px;

}

.botoes {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 10px;
  gap: 20px;
  width: 100%;
  height: 40px;
}

.botao-cancelar {
  background-color: transparent;
  border: 1px solid #9A9A9A;
  color: #FFFFFF;
  width: 162px;
  height: 40px;
  border-radius: 5px;
  padding: 6px 17px 6px 17px;
  cursor: pointer;
}

.botao-confirmar {
  border: none;
  background-color: #864FD9;
  color: #FFFFFF;
  width: 162px;
  height: 40px;
  padding: 6px 17px 6px 17px;
  border-radius: 5px;
  cursor: pointer;
}

 mat-divider {
  background-color: #48464D;
  height: 2px;
  width: 100%;
  margin-bottom: 5px;
  margin-top: 20px;
}
