<div class="box">
  <h1 class="titulo">Cadastre-se na plataforma <span>Licomp</span></h1>
  <section class="container">
    <div class="logo">
      <img src="../../../assets/logo.png" alt="logo">
      <h3>Cadastro</h3>
    </div>
    <p class="text">Insira seus dados abaixo para criar conta e começar</p>
    <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">
      <section class="campos">
        <div class="campo-formulario">
          <label for="nome">Nome</label>
          <input id="nome" type="text" formControlName="nome" class="input" placeholder="Digite seu nome...">
        </div>
        <div class="campo-formulario">
          <label for="email">Email</label>
          <input id="email" type="email" formControlName="email" class="input" placeholder="Digite seu E-mail...">
        </div>
        <div class="campo-formulario">
          <label for="senha">Senha</label>
          <input id="senha" type="password" formControlName="senha" class="input" placeholder="Digite sua senha...">
        </div>
      </section>
      <section class="container-options">
        <div class="select">
          <label for="tipo">Tipo</label>
          <select id="tipo" formControlName="tipo">
            <option value="adm">Administrador</option>
            <option value="professor">Professor</option>
          </select>
        </div>
        <div class="buttons">
          <button (click)="home()" class="button-one">Cancelar</button>
          <button type="submit" class="button-two">Confirmar</button>
        </div>
      </section>
    </form>
  </section>
</div>
