* {
  color: #FFFFFF;
}

.container-background {
  min-height: 93.1vh;
  background: linear-gradient(112deg, rgba(18, 0, 96, 0.10) 16.83%, rgba(0, 0, 0, 0.09) 47.11%, rgba(66, 0, 146, 0.05) 81.73%, rgba(95, 0, 211, 0.05) 95.21%), #131313;
}

.cadastro-usuario-pagina {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #1E1E1E; */
  height: 88vh;
}

.cadastro-usuario-container {
  background: linear-gradient(112deg, rgba(18, 0, 96, 0.10) 0%, rgba(0, 0, 0, 0.09) 32.21%, rgba(19, 0, 41, 0.09) 55.29%, rgba(95, 0, 211, 0.05) 95.21%, rgba(66, 0, 146, 0.05) 100%), #2B2A2E;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  width: 50%;
  border-radius: 40px;
  padding: 0 2.5rem;
  border-top: 8px solid #7C4CC6;
}


.cadastro-usuario-aviso {
  padding-top: 20px;
}

.cadastro-usuario-titulo, .cadastro-usuario-label {
    color: #FFFFFF;
    padding: 10px 0;
}

.cadastro-usuario-titulo {
  text-align: center;
  padding: 20px 0 20px 0;
  border-bottom: 2px solid #7C4CC6;
}


.cadastro-usuario-label span, .cadastro-usuario-aviso {
  color: #C64C4C;
}

.campos {
  display: grid;
  grid-template-columns: 50% 50%;
}


.form-conteudo {
  display: flex;
  flex-direction: column;
  width: 92%;
  padding: 5px 0;
}

.cadastro-usuario-input, .icon {
  height: 35px;
  border: none;
  border-radius: 10px;
  background-color: #3F3F40;
  color: #FFFFFF;
  padding-left: 10px;
}

.icon {
  height: 35px;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  color: #FFFFFF;
  padding-left: 10px;
}

.cadastro-usuario-input:focus{
   box-shadow: 0 0 0 0;
   outline: 0;
}

.icon {
  position: relative;
  top: -35px;
  margin-left: auto;
  margin-right: 10px;
}

mat-icon {
  color: #7C4CC6;
}

.form-conteudo-tipo {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -20px;
}


.radio-group {
  display: flex;
  column-gap: 20px;
  position: relative;
  left: -10px;
}


.buttons {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  padding: 10px 0;
  position: relative;
  top: -20px;
}

.buttons button {
  padding: 7px;
  width: 145px;
  border: none;
  color: #FFFFFF;
  border-radius: 10px;
  cursor: pointer;
}

#botao-um {
  background-color: transparent;
  border: 3px solid #7C4CC6;
  color: #7C4CC6 !important;
}

#botao-um:hover {
  background: linear-gradient(90deg, rgba(124, 76, 198, 0.50) 0%, rgba(83, 0, 249, 0.50) 100%), #7C4CC6;
  color: #fff !important;
}


#botao-dois {
  border-radius: 10px;
  background: linear-gradient(90deg, rgba(124, 76, 198, 0.50) 0%, rgba(83, 0, 249, 0.50) 100%), #7C4CC6;
}

#botao-dois:hover {
  opacity: 50%;
}