.card-topico {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: clamp(22.38rem,23.38rem,25.38rem);
  height: 360px;
  padding: clamp(1.19rem, 1.25rem + 0.2vw, 1.41rem);
  flex-shrink: 0;
  border-radius: 10px;
  color: white;
  border-radius: 15px;
  background: linear-gradient(112deg, rgba(18, 0, 96, 0.10) 0%, rgba(0, 0, 0, 0.09) 32.21%, rgba(19, 0, 41, 0.09) 55.29%, rgba(95, 0, 211, 0.05) 95.21%, rgba(66, 0, 146, 0.05) 100%), #2B2A2E;
}

mat-card-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.3rem;
  text-align: center;
}

mat-card-header h4 {
  margin: 0;
  white-space: normal;
  overflow: visible;
  font-size: 18px;
  font-family: "Inter", sans-serif;
}

mat-card-header span {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: normal;
  text-align: center;
  color: var(--abc-color);
  white-space: normal;
  overflow: visible;
  text-overflow: clip;
  overflow-wrap: anywhere;
  word-break: break-word;
}

.box-card-content {
  display: grid;
  justify-content: center;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.25rem;
  row-gap: 1rem;
  padding-bottom: 2.2rem;
}

.box-card-content p {
  width: 9.38rem;
  /* height: 1.38rem; */
  font-family: "Inter", sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0.63rem 0 0.63rem 0.56rem;
  border-radius: 10px;
  border-radius: 10px;
background: linear-gradient(112deg, rgba(18, 0, 96, 0.10) 0%, rgba(0, 0, 0, 0.09) 32.21%, rgba(19, 0, 41, 0.09) 55.29%, rgba(95, 0, 211, 0.05) 95.21%, rgba(66, 0, 146, 0.05) 100%), #424147;;
}

a {
  /* text-decoration: none; */
  cursor: normal;
  color: white;
}

mat-divider {
  background-color: var(--Primaria-color);
  width: 100%;
  max-width: none;
  margin: 0;
}

.mat-divider.mat-divider-horizontal {
  width: 100%;
  max-width: none;
}

.icons-btn {
  display: flex;
  align-items: center;
  gap: 0.94rem;
  width: 100%;
  padding: 12px 0 10px 0;
  border-top: 2px solid #7C4CC6;
}

.icons {
  display: flex;
  gap: 1rem;
}

.box-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.98rem;
  height: 1.71rem;
  padding: 0.25rem 0.5rem;
  border-radius: 3.94px;
  border: 1.477px solid #535353;
  background: #363638;
  cursor: pointer;
}

.box-icon mat-icon {
  cursor: pointer;
}

.box-icon:hover {
  filter: brightness(70%);
}

mat-card-actions {
  padding: 0 0 0 8px;
  width: 100%;
}

.btn {
  width: 100%;
  height: 2.41rem;
  padding: 0 1.25rem;
  border-radius: 5.571px;
  border-radius: 7px;
  background: linear-gradient(90deg, rgba(124, 76, 198, 0.50) 0%, rgba(83, 0, 249, 0.50) 100%), #7C4CC6;
  font-family: var(fontCustom);
  font-weight: bold;
  
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
}

.btn:hover {
  filter: brightness(70%);
}

@media screen and (max-width: 1899px) {
  .btn {
  font-size: 1rem;
  }

  .box-card-content p {
  font-size: 1rem;
  } 
}