<div class="login-container">
  <div class="login-esquerda">
    <img src="../../../assets/imgs/Capa de login.svg" alt="Capa de login" class="imagem-login">

  </div>
  <div class="login-direita">
    <div class="card-login">
       <h2 class="titulo-login">Login</h2>
       <p class="texto-login">Insira seus dados abaixo para acessar sua conta.</p>

       <form id="form" class="forms">
        <div class="form-conteudo">
          <label for="idemail">Email</label>
          <input type="email"
                id="idemail"
                placeholder="Digite seu email">
        </div>

        <div class="form-conteudo">
          <div class = "form-senha">
            <label for="idsenha">Senha</label>
            <div class="input-icon">
              <input type="password"
                id="idsenha"
                placeholder="Digite sua senha">
              <mat-icon _ngcontent-ng-c504313431="" role="img" class="icon-eye" aria-hidden="true" data-mat-icon-type="font">visibility</mat-icon></div>
          </div>
        </div>

        <div class="check-senha">
          <div class="checkbox-container">
            <mat-checkbox>Mantenha-me conectado</mat-checkbox>
          </div>

          <a href="" class="senha-esquecida">Esqueceu a senha?</a>
        </div>

        <div class="botao-entrar">
          <button class="button-one">Entrar</button>
        </div>
        <div class="criar-conta">
          <p>Não tem uma conta?</p>
          <a href="" class="cadastrar">Cadastre-se</a>
        </div>

        <div class="linha">
          <mat-divider></mat-divider>
          <p>Ou</p>
          <mat-divider></mat-divider>
        </div>
        <div class="botao-entra-com-google">
          <img src="../../../assets/imgs/flat-color-icons_google.svg" alt="icone do google" class="google-icon">
          <button class="button-two">Entrar com o Google</button>
        </div>

       </form>


    </div>


  </div>
</div>
