.container {
  overflow: hidden;
  height: 88vh;
  padding: 2.38rem 4.56rem 1.88rem 4.38rem;
  box-sizing: border-box;
  border: none;
  background-color: #131313;
  width: 100%;
}

.novo-topico {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  width: 95.4%;
  height: 3.88rem;
  margin: 0 auto;
  margin-bottom: 4.5rem;
  padding: 0 0.69rem 0 2.81rem;
  border-radius: 35px;
  background-color: var(--5-color);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);

}

.novo-topico h1 {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  line-height: normal;
  flex-wrap: wrap;
  color: var(--Terciaria, #fff);
}

button {
  width: 2.5rem;
  height: 2.5rem;
  border: none;
}

.novo-topico button:hover {
    filter: brightness(70%);
  }

.novo-topico button mat-icon {
  color: white;
}

.topicos-container {
  width: 100%;
  padding-bottom: 1.69rem;
  flex-wrap: wrap;
}

.container img {
  position: absolute;
  bottom: 34%;
  left: 96.5%;
  cursor: pointer;
}

.topicos-grid {
  display: flex;
  flex-direction: row;
  gap: 2.94rem;
  padding-top: 3.56rem;
}

button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.13rem;
  border-radius: 50%;
  background: var(--12, #9256ed);
  outline: none;
  border: none;
  cursor: pointer;
}

.botoes-navegacao-topicos-do-modulo {
  display: flex;
  justify-content: center;
  column-gap: 0.63rem;
}

.botao-navegar-cards-topicos-do-modulo {
  border-radius: 0;
  width: 12.5rem;
}

.pagination {
  margin: 0 auto;
  width: 94%;
}
  
@media screen and (min-width: 1900px) {
  .topicos-grid {
  gap: 19.94rem;
  }

  .container img {
  bottom: 46%;
  left: 97.5%;
  }

  .novo-topico {
  width: 96.8%;
}
}