.container {
  overflow: hidden;
  height: clamp(80vh ,88vh, 90vh);
  padding: 2.38rem 4.56rem 1.88rem 4.38rem;
  box-sizing: border-box;
  border: none;
  background-color: #131313;
  width: 100%;
}

.novo-topico {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  height: 3.88rem;
  margin: 0;
  margin-bottom: 4.5rem;
  padding-top: 0;
  padding-right: min(0.69rem, 8%);
  padding-bottom: 0;
  padding-left: min(2.81rem, 8%);
  border-radius: 35px;
  background-color: var(--5-color);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);

}

.novo-topico h1 {
  font-size: clamp(20px, 10vw, 25px);
  font-weight: bold;
  font-family: "Inter", sans-serif;
  line-height: normal;
  flex-wrap: wrap;
  color: var(--Terciaria, #fff);
}

button {
  width: 2.5rem;
  height: 2.5rem;
  border: none;
}

.novo-topico button:hover {
    filter: brightness(70%);
  }

.novo-topico button mat-icon {
  color: white;
}

.topicos-container {
  width: 100%;
  padding-bottom: 1.69rem;
}

.container img {
  position: absolute;
  bottom: 34%;
  left: 96.5%;
  cursor: pointer;
}

.topicos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  gap: clamp(2rem ,4rem, 5rem);
  width: 100%;
  padding-top: clamp(4rem, 8vw, 8rem);
}

button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.13rem;
  border-radius: 50%;
  background: var(--12, #9256ed);
  outline: none;
  border: none;
  cursor: pointer;
}

.botoes-navegacao-topicos-do-modulo {
  display: flex;
  justify-content: center;
  column-gap: 0.63rem;
}

.botao-navegar-cards-topicos-do-modulo {
  border-radius: 0;
  width: 12.5rem;
}

.pagination {
  margin: 0 auto;
  width: 94%;
}

.topicos-container {
  padding-bottom: 2.8rem;
}