.container {
    min-height: 83vh;
    background: linear-gradient(112deg, rgba(18, 0, 96, 0.10) 16.83%, rgba(0, 0, 0, 0.09) 47.11%, rgba(66, 0, 146, 0.05) 81.73%, rgba(95, 0, 211, 0.05) 95.21%), #131313;
}

.container-todos-inputs {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    justify-content: space-around;
    place-items: center;
}

.container-input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container-input input {
    width: 100%;
    height: 61px;
    border: none;
    background-color: #2B2A2E;
    color: #FFF;
    border-radius: 15px;
    padding-left: 10px;
    font-size: 16px;
}

.container-input input::placeholder {
    color: #767676;
}

.ativos {
    color: #767676;
}

.titulo-alunos, .quantidade-alunos {
    color: #FFF;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.titulo-alunos {
    font-size: 26px;
}

.quantidade-alunos {
    font-size: 20px;
}

.botao-aplicar-filtro, .botao-limpar-filtro {
    width: 196px;
    height: 40px;
    border: none;
    border-radius: 7px;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.botao-aplicar-filtro:hover, .botao-limpar-filtro:hover {
    opacity: 50%;
}

.botao-aplicar-filtro {
    background: linear-gradient(90deg, rgba(124, 76, 198, 0.50) 0%, rgba(83, 0, 249, 0.50) 100%), #7C4CC6;
    color: #FFF;
}

.botao-limpar-filtro {
    background-color: transparent;
    border: 3px solid #7C4CC6;
    color: #7C4CC6;
    
}

.texto {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px 0;
}

.texto p {
    margin-right: auto;
}

.texto .meio {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}


.tabela-alunos {
    background-color: transparent;
}


.mat-mdc-header-cell {
    
    color: #ffffff;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

tr.mat-mdc-header-row.mdc-data-table__header-row.cdk-header-row {
    background-color: #7C4CC6;
}

.mat-mdc-row  {
    background-color: #2B2A2E;
}

table.mat-mdc-table {
  background: transparent !important;
  border-collapse: separate;
  border-spacing: 0 10px; 
  border-radius: 10px 10px 15px 15px;
}

.mat-mdc-header-cell {
  text-align: center;
  justify-content: center;
}

/* radius esquerdo */
.mat-mdc-cell:first-child {
  border-radius: 0 0 0 15px;
}

/* radius direito */
.mat-mdc-cell:last-child {
  border-radius: 0 0 15px 0;
}

.mat-mdc-header-cell:first-child {
  border-radius: 10px 0 0 0;
}

.mat-mdc-header-cell:last-child {
  border-radius: 0 10px 0 0;
}

.tabela-alunos {
  overflow: hidden;
}

.nome, .dados {
    color: #FFFFFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.dados {
    opacity: 0.5;
}