.no-items-message {
  margin: 1.25rem 0;
  padding: 2.5rem 1.25rem;
  text-align: center;
}

.no-items-message p {
  margin: 0;
  font-size: 1rem;
  font-style: italic;
  color: #A2A2A2;
}

.container-botoes-navegacao {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 1.88rem;
  padding: 0.63rem 0 1.25rem 0;
}

.indicadores-pagina {
  display: flex;
  align-items: center;
  gap: 1.75rem;
}

.indicador-mais-paginas {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #3F3F40;
}

.indicador-mais-paginas .pontos {
  color: #7C4CC6;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 1rem;
  line-height: 1;
}

.indicador-pagina {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: none;
  font-weight: 600;
  color: white;
  font-size: 1rem;
  background-color: #3F3F40;
  cursor: pointer;
  transition: all 0.3s ease;
  user-select: none;
}

.indicador-pagina:hover {
  background-color: #4F4F50;
  transform: scale(1.1);
}

.indicador-pagina.ativo {
  background: linear-gradient(180deg, #7C4CC6 0%, #5300F9 100%);
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
}

.indicador-pagina.ativo:hover {
  background-color: #9665DF;
}
