.detalhes-modulo-container {
  display: flex;
  align-items: center;
  width: 100%;
  background: linear-gradient(112deg, rgba(18, 0, 96, 0.10) 16.83%, rgba(0, 0, 0, 0.09) 47.11%, rgba(66, 0, 146, 0.05) 81.73%, rgba(95, 0, 211, 0.05) 95.21%), #131313;
  height: 88vh;
}
.box-container {
  width: 90%;
  margin: 0 auto;
  /* padding-top: 2rem; */
}
.modulo h2 {
  color: #fff;
  border-bottom: 2px solid #7C4CC6;
  width: 100%;
  text-align: center;
  padding-bottom: 1.25rem;
}
.box-modulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.25rem 2.5rem 2.5rem 2.5rem;
  border-top: 8px solid #7C4CC6;
  border-radius: 40px;
  border-radius: 40px;
background: linear-gradient(112deg, rgba(18, 0, 96, 0.10) 0%, rgba(0, 0, 0, 0.09) 32.21%, rgba(19, 0, 41, 0.09) 55.29%, rgba(95, 0, 211, 0.05) 95.21%, rgba(66, 0, 146, 0.05) 100%), #2B2A2E;
box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  color: white;
}
.box-modulo p {
  width: 96%;
  /* font-family: Arial; */
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #3F3F40;
  border-radius: 10px;
  column-gap: 5px;
  height: 2.19rem;
  font-size: 1rem;
}

.img {
  border-radius: 10px;
  background-color: #9256ed;
  width: 10rem;
  height: 10rem;
}
.informacoes {
  display: grid;
  align-items: center;
  gap: 1.88rem;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
  padding-top: 1.88rem;
}

.publicacoes-e-templates {
  display: flex;
  width: 100%;
  justify-content: space-between;
  column-gap: 1rem;
}


.btn-publicar {
  width: 50%;
  height: 2.19rem;
  padding: 0.31rem 0.63rem;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}
.status-publicado {
  color: #33B727;
  font-weight: bold;
}

.status-nao-publicado {
  color: #F84C4C;
  font-weight: bold;
}
.publicado {
  background-color: #33B727;
  background-color: #F84C4C;
}

.nao-publicado {
  background-color: #33B727;
}

.btn-publicar, .status-publicado, .status-nao-publicado, .publicado, .nao-publicado {
   display: flex;
  align-items: center;
}

.paragrafo {
  display: flex;
  align-items: center;
  padding: 0.31rem 0.63rem;
}

.coluna-gerenciar {
  width: 100%;
  display: flex;
  column-gap: 1rem;
  justify-content: space-between;
}

.coluna-gerenciar button {
  border-radius: 10px;
background: linear-gradient(90deg, rgba(124, 76, 198, 0.50) 0%, rgba(83, 0, 249, 0.50) 100%), #7C4CC6;
  width: 50%;
  border: none;
  border-radius: 10px;
  color: #FFFFFF;
  cursor: pointer;
  height: 2.19rem;
  padding: 0.31rem 0.63rem;
}

.titulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  height: 3.44rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  padding: 0 1.56rem;
  border-radius: 8px;
  border-left: 8px solid var(--Primaria, #9665df);
  background: #2b2a2e;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}
.titulo h1 {
  color: var(--Terciaria, #fff);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-size: 1.5rem;
}
.titulo button {
  cursor: pointer;
  border-radius: 5.118px;
  background: var(--12, #9256ed);
  outline: none;
  border: none;
  padding: 0.13rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo button mat-icon {
  color: white;
}
.titulo p {
  color: #fff;
  font-family: Arial;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 1.88rem;
  font-size: 1.25rem;
}



.topicos-grid {
  display: flex;
  flex-direction: row;
  gap: 3.13rem;
}

.topicos-container {
  padding-bottom: 2.5rem;
}

a {
  text-decoration: underline;
  cursor: pointer;
  color: white;
}
a:hover {
  color: #c3a1f5;
}

.botao-vizualizar-topicos:hover {
  color: white;
}

.botao-vizualizar-topicos {
  position: relative;
  width: 100%;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: end;
  column-gap: 8px;
  top: 1.25rem;
}




@media (max-width: 1100px) {
  .topicos-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .box-modulo {
    flex-direction: column;
  }
}
@media (max-width: 800px) {
  .topicos-grid {
    grid-template-columns: repeat(1, 1fr);
  }

}
@media (max-width: 600px) {
  .topicos-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .informacoes {
    grid-template-columns: repeat(2, 1fr);
  }
}
