.container-card {
  display: flex;
  flex-direction: column;
  width: auto;
  border: none;
  border-radius: 15px;
  background: linear-gradient(112deg, rgba(18, 0, 96, 0.10) 0%, rgba(0, 0, 0, 0.09) 32.21%, rgba(19, 0, 41, 0.09) 55.29%, rgba(95, 0, 211, 0.05) 95.21%, rgba(66, 0, 146, 0.05) 100%), #2B2A2E;
  box-shadow: 0px 0px 5.267px 0px rgba(0, 0, 0, 0.15);
  color: white;
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  height: 201px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 92%;
  gap: 15px;
  padding-top: 15px;
}

.content mat-icon {
  font-size: 20px;
}

.icons_plataformas {
  display: flex;
  flex-direction: row;
}

.box-icon {
  border-radius: 3.94px;
  border: 1.477px solid #535353;
  background: #363638;
  width: 31.736px;
  height: 27.358px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  cursor: pointer;
}

.box-icon:nth-child(1) {
  margin-right: 16px;
}

mat-card-header {
  height: 45%;
  border: none;
  border-radius: 15px 15px 0 0;
  display: flex;
  background: linear-gradient(180deg, rgba(124, 76, 198, 0.50) 0%, rgba(83, 0, 249, 0.50) 78.52%), linear-gradient(180deg, #7C4CC6 0%, #3C2560 100%);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

mat-card-title {
  font-size: 1.25rem;
  font-family: var(fontCustom);
  font-weight: bold;
  font-weight: 700;
  padding: 10px 0 0 20px !important;
}

mat-card-subtitle {
  font-size: 1rem;
  font-family: var(fontCustom);
  font-weight: 400;
  text-align: start;
  color: var(--2-color);
  padding: 10px 0 0 20px !important;
}

.icons_plataformas {
  padding-left: 20px;
}