.container-card {
  display: flex;
  flex-direction: column;
  width: auto;
  border: none;
  border-radius: 15px;
  background: #2b2a2e;
  box-shadow: 0px 0px 5.267px 0px rgba(0, 0, 0, 0.15);
  color: white;
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  height: 240px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 92%;
  gap: 15px;
  padding-top: 15px;
}

.content mat-icon {
  font-size: 20px;
}

.icons_plataformas {
  display: flex;
  flex-direction: row;
}

.box-icon {
  border-radius: 3.94px;
  border: 1.477px solid #535353;
  background: #363638;
  width: 31.736px;
  height: 27.358px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  cursor: pointer;
}

.box-icon:nth-child(1) {
  margin-right: 16px;
}

mat-card-header {
  height: 45%;
  border: none;
  border-radius: 15px 15px 0 0;
  display: flex;
  background: linear-gradient(260deg, #7C4CC6 0%, #5300F9 190%);
}

mat-card-title {
  font-size: 1.25rem;
  font-family: "inter";
  font-weight: bold;
  font-weight: 700;
}

mat-card-subtitle {
  font-size: 1rem;
  font-family: "inter";
  font-weight: 400;
  text-align: start;
  color: var(--2-color);
}