<mat-card class="container-card">
  <div class="img"></div>
  <mat-card-header>
    <mat-card-title>{{ plataforma.plataformaNome }}</mat-card-title>
    <mat-card-subtitle style="color: white;">{{ plataforma.plataformaUrl }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="content">
    <div class="box-icon" [routerLink]="['/editar-plataforma', plataforma.id]">
      <mat-icon class="card-icon" >border_color</mat-icon>
    </div>
    <div class="box-icon">
      <mat-icon class="card-icon" (click)="abrirConfirmacaoExcluir()">delete</mat-icon>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button class="btn" [routerLink]="['/ver-detalhes', plataforma.id]">Ver Detalhes</button>
  </mat-card-actions>
</mat-card>
