/* CONTAINER GERAL */

.cadastro-container {
  height: 100vh;
  color: #ffffff;
  font-family: Inter, sans-serif;
  background:
    linear-gradient(
      116deg,
      rgba(18, 0, 96, 0.1) 35.95%,
      rgba(0, 0, 0, 0.09) 59.28%,
      rgba(66, 0, 146, 0.05) 85.94%,
      rgba(95, 0, 211, 0.05) 96.33%
    ),
    #131313;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

/* LADO ESQUERDO (CARD) */

.cadastro-esquerda {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* LADO DIREITO (ILUSTRAÇÃO) */

.cadastro-direita {
  height: 100%;
}

.img-cadastro {
  width: 100%;
  object-fit: cover;
}

/* CARD CADASTRO */

.card-cadastro {
  width: 78%;
  padding: 40px 55px 36px;
  border-radius: 40px;
  border-top: 10px solid #7c4cc6;
  background:
    linear-gradient(
      112deg,
      rgba(18, 0, 96, 0.1) 0%,
      rgba(0, 0, 0, 0.09) 32.21%,
      rgba(19, 0, 41, 0.09) 55.29%,
      rgba(95, 0, 211, 0.05) 95.21%,
      rgba(66, 0, 146, 0.05) 100%
    ),
    #2b2a2e;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
}

/* TÍTULO E TEXTO */

.card-cadastro h2 {
  margin: 0;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

.texto-cadastro {
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #a879f2;
}

/* FORM */

.forms {
  margin-top: 32px;
}

.campos {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.cadastro-conteudo {
  display: flex;
  flex-direction: column;
  padding: 3px 0 7px;
}

.cadastro-conteudo label {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}

/* INPUTS */

.cadastro-conteudo input {
  background:
    linear-gradient(
      112deg,
      rgba(18, 0, 96, 0.1) 0%,
      rgba(0, 0, 0, 0.09) 32.21%,
      rgba(19, 0, 41, 0.09) 55.29%,
      rgba(95, 0, 211, 0.05) 95.21%,
      rgba(66, 0, 146, 0.05) 100%
    ),
    #424147;
  border-radius: 10px;
  border: none;
  color: #f5f5f5;
  padding: 9px 14px;
  font-size: 14px;
}

.cadastro-conteudo input::placeholder {
  color: #a2a2a2;
}

/* GRUPO DE SENHA (2 COLUNAS) */

.senha-grupo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

/* MENSAGENS DE ERRO */

.invalid {
  color: #f84c4c;
  margin-top: 6px;
  font-size: 13px;
}

/* BOTÕES  */
.botoes-acao {
  display: flex;
  gap: 25px;
  margin-top: 50px;
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.wrapper {
  background-color: transparent;
  width: 100%;
  height: 35px;
  border-radius: 7px;
  cursor: pointer;
  border: none;

}

button {
  display: flex; /* garante alinhamento pelo flex */
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 35px;
  padding: 0 5px;
  border-radius: 7px;
  cursor: pointer;
  border: none;
  font-size: 15px;
  font-weight: 700;
  margin-top: 0;
}

/* botão cadastrar */
.botao-cadastrar {
  background: linear-gradient(90deg, rgba(124, 76, 198, 0.50) 0%, rgba(83, 0, 249, 0.50) 100%), #7C4CC6;
  color: #ffffff;
  /* border: 3px solid #7C4CC6; */
}

.botao-cadastrar:hover {
  background: transparent;  
  color: #7c4cc6;
  font-weight: 700;
  border: 3px solid #7C4CC6;
}

/* botão outline (Não possuo uma conta) */
.button-two {
  background: transparent;
  border: 3px solid #7c4cc6;
  color: #7c4cc6;
  font-weight: 700;
}

.button-two:hover {
  background-color: #7c4cc6;
  color: #ffffff;
}



/* RESPONSIVIDADE PARA CADASTRO */
@media (max-width: 1200px) {

  .cadastro-direita {
    display: none;
  }


  .cadastro-container {
    justify-content: center;
    align-items: center;
  }

  .cadastro-esquerda {
    flex: none;
    width: 100%;
    justify-content: center;
  }


  .card-cadastro {
    max-width: 650px;
    padding: 32px 26px 28px;
  }


  .senha-grupo {
    grid-template-columns: 1fr;
    gap: 16px;
  }

}
