<div class="cadastro-container">
  <div class="cadastro-esquerda">
    <div class="card-cadastro">
      <h2>Cadastre-se</h2>
      <p class="texto-cadastro">Insira seus dados abaixo para cirar sua conta.</p>

      <form id="form" class="forms">
        <div class="cadastro-conteudo">
          <label for="idnome">Nome</label>
          <input type="text" id="idnome" placeholder="Digite seu nome completo">
        </div>

        <div class="cadastro-conteudo">
          <label for="idemail">Email</label>
          <input type="text" id="idemail" placeholder="Digite seu email">
        </div>


       <div class="senha-grupo">
          <div class="cadastro-conteudo">
            <label for="idsenha">Senha</label>
            <div class="campo-senha-envolve">
              <input  [type]="hide ? 'password' : 'text'" id="senha" type="password" formControlName="senha" class="input-senha" placeholder="Digite a sua senha">
              <button  class="icon" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon class="icon-eye">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </div>
          </div>

        <div class="cadastro-conteudo">
          <label for="iconfirmar">Confirmar Senha</label>
          <input type="password" id="iconfirmar" placeholder="Confirme sua senha">
        </div>
       </div>

        <div class="cadastro-conteudo">
          <button class="botao-cadastrar">Cadastrar</button>
        </div>


          <div class="criar-conta">
            <p class="texto-conta">Já tem uma conta?</p>
            <a href="">Entrar</a>
          </div>
      </form>

    </div>
  </div>

  <div class="cadastro-direita">
    <img src="../../../assets/imgs/Capa de login (1).svg" alt="Capa de login" class="img-cadastro">
  </div>
</div>











<!-- <div class="box">
  <section class="container">
    <div class="logo">
      <img src="../../../assets/logo.png" alt="logo">
      <h3>Login</h3>
    </div>
    <form [formGroup]="loginForm" class="container-formulario" #formDir="ngForm">
      <div class="campo-formulario" (click)="focusClick()">
        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email" class="input" placeholder="example@gmail.com">
      </div>
      <div class="campo-formulario"  (click)="focusClick(true)">
        <label for="senha">Senha</label>
        <div class="campo-formulario-envolve" [ngClass]="{'ativado':focus}">
          <input [type]="hide ? 'password' : 'text'" id="senha" type="password" formControlName="senha" class="input-senha" placeholder="Digite a sua senha">
          <button  class="icon" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </div>
      </div>
      <button style="cursor: pointer;" type="submit" class="button" (click)="onSubmit()">Entrar</button>
      <div class="campo-formulario" *ngIf="(email.invalid || senha.invalid) && formDir.submitted">
        <p class="campo-formulario invalid" *ngIf="email.errors?.['email'] && !senha.errors?.['required'] && !email.errors?.['required']">Email inválido!</p>
        <p class="campo-formulario invalid" *ngIf="email.errors?.['required'] || senha.errors?.['required']">Preencha todos os campos!</p>
      </div>
      <p class="campo-formulario invalid" *ngIf="errorLogin">Email ou senha incorretos!</p>
    </form>
  </section>
</div> -->

