.login-container {
  box-sizing: border-box;
  height: 100vh;
  color: #fff;
  font-family: Inter, sans-serif;
  background:
    linear-gradient(
      116deg,
      rgba(18, 0, 96, 0.1) 35.95%,
      rgba(0, 0, 0, 0.09) 59.28%,
      rgba(66, 0, 146, 0.05) 85.94%,
      rgba(95, 0, 211, 0.05) 96.33%
    ),
    #131313;
  display: flex;
  align-items: stretch;
  overflow: hidden;
}

/* LADO ESQUERDO */

.login-esquerda {
  height: 100%;
}

.imagem-login {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* LADO DIREITO */

.login-direita {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* CARD */

.card-login {
  width: 55%;
  height: 65%;
  /* max-width: 536px; */
  padding: 32px 48px 32px 48px;
  border-radius: 40px;
  background:
    linear-gradient(
      112deg,
      rgba(18, 0, 96, 0.1) 0%,
      rgba(0, 0, 0, 0.09) 32.21%,
      rgba(19, 0, 41, 0.09) 55.29%,
      rgba(95, 0, 211, 0.05) 95.21%,
      rgba(66, 0, 146, 0.05) 100%
    ),
    #2b2a2e;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  border-top: 10px solid #7c4cc6;
}

/* TÍTULO E TEXTO */

.titulo-login {
  margin: 0;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
}

.texto-login {
  margin-top: 12px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #a879f2;
}

/* FORM */

.forms {
  margin-top: 18px;
}

.campos {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.form-conteudo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-conteudo label {
  font-size: 16px;
  font-weight: 700;
}

.form-conteudo input {
  box-sizing: border-box;
  width: 100%;
  height: 35px;
  padding: 0px 14px;
  font-size: 14px;
  font-weight: 400;
  color: #f4f4f5;
  background:
    linear-gradient(
      112deg,
      rgba(18, 0, 96, 0.1) 0%,
      rgba(0, 0, 0, 0.09) 32.21%,
      rgba(19, 0, 41, 0.09) 55.29%,
      rgba(95, 0, 211, 0.05) 95.21%,
      rgba(66, 0, 146, 0.05) 100%
    ),
    #424147;
  border-radius: 10px;
  border: none;
}

/* LINK ESQUECI MINHA SENHA */

.senha-esquecida {
  margin-top: 1px;
  margin-bottom: 14px;
  font-size: 14px;
  color: #A879F2;
  text-decoration: none;
}

.senha-esquecida:hover {
  text-decoration: underline;
}

/* ERROS */

.invalid {
  color: #f84c4c;
  margin-top: 8px;
  font-size: 13px;
}

/* BOTÕES PRINCIPAIS */

.botoes-acao {
  display: flex;
  gap: 30px;
  /* padding: 39px 0 0; */
  box-sizing: border-box;
}

 .wrapper, .wrapper-entrar {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    background-color: transparent;
    border-radius: 7px;
    margin-top: 12px;
    /* border: 3px solid #7c4cc6; */
 }

.wrapper:hover {
  background: linear-gradient(
      90deg,
      rgba(124, 76, 198, 0.5) 0%,
      rgba(83, 0, 249, 0.5) 100%
    ),
    #7c4cc6;
}


button {
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  padding: 8px 8px;
  border-radius: 7px;
  margin-top: 12px;
  cursor: pointer;
  border: none;
  font-size: 15px;
  font-weight: 700;
}

/* botão roxo (Entrar) */
.button-entrar {
  background:
    linear-gradient(
      90deg,
      rgba(124, 76, 198, 0.5) 0%,
      rgba(83, 0, 249, 0.5) 100%
    ),
    #7c4cc6;
  color: #ffffff;
  border: none;
  /* border: 3px solid transparent; */
  position: relative;
  top: -12px;
}

.button-entrar:hover {
  background: transparent;
  color: #7c4cc6;
  border: 3px solid #7c4cc6;
}

/* botão (Não possuo uma conta) */
.button-two {
  background: transparent;
  border: 3px solid #7c4cc6;
  color: #7c4cc6;
  position: relative;
  top: -12px;
  
}

.button-two:hover {
  background:
    linear-gradient(
      90deg,
      rgba(124, 76, 198, 0.5) 0%,
      rgba(83, 0, 249, 0.5) 100%
    ),
    #7c4cc6;
  color: #ffffff;
  border: none;
}

/* DIVISOR "OU" */

.linha {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin: 18px 0 18px;
}

.linha-traco {
  border: 1px solid #7c4cc6;
  width: 100%;
}

.linha-texto {
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.15em;
  color: #a879f2;
}

/* GOOGLE */

.google-container {
  display: flex;
  justify-content: center;
}

/* RESPONSIVO - esconder imagem e centralizar card */
@media (max-width: 1200px) {
  .login-esquerda {
    display: none;
  }

  .login-container {
    justify-content: center;
    align-items: center;
  }

  .login-direita {
    width: 100%;
    justify-content: center;
  }

  .card-login {
    max-width: 530px;
    padding: 32px 36px 28px;
  }
}
