
.titulo-dialog {
    width: 87%;
    color: #FFF;
    margin: 0 auto;
    text-align: center;
    padding: 40px 0 25px 0;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-bottom: 2px solid #7C4CC6;
}

.container-inputs, .form-field {
    display: flex;
    flex-direction: column;
    
}

.container-inputs {
    width: 93%;
    margin: 0 auto;
    row-gap: 18px;
}

.label {
    color: #FFF;
    padding-bottom: 5px;
}

input {
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #3F3F40;
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 12px;
}

input::placeholder {
    color: #767676;
}

.botoes {
    display: flex;
    justify-content: center;
    column-gap: 31px;
}

.botoes button {
    width: 120px;
    height: 35px;
    border-radius: 10px;
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.cancelar {
    border: 3px solid #7C4CC6;
    background-color: transparent;
    color: #7C4CC6;
}

.salvar {
    border: none;
    background: linear-gradient(90deg, rgba(124, 76, 198, 0.50) 0%, rgba(83, 0, 249, 0.50) 100%), #7C4CC6;
}

.salvar:hover, .cancelar:hover {
    opacity: 50%;
}