
<app-header-voltar texto="Editar Usuário"></app-header-voltar>
<main class="container">
  <form class="forms" (ngSubmit)="atualizarUsuario()">
    <div class="form-campos">
      <div class="titulo-formulario">
        <h1>Editar Usuário</h1>
        <p class="obrigatorio">* Indica campos obrigatórios</p>
      </div>

      <div class="campos">
        <div class="form-conteudo-editar">
          <label for="nome_usuario">Nome do Usuário <span>*</span></label>
          <input [(ngModel)]="user.username" name="username" required id="nome_usuario" type="text" class="input">
        </div>

        <div class="form-conteudo-editar">
          <label for="email_usuario">Email <span>*</span></label>
          <input [(ngModel)]="user.email" id="email_usuario" name="email" required type="text" class="input">
        </div>

        <div class="form-conteudo-editar">
          <label for="senha_usuario_atual">Senha atual <span>*</span></label>
          <input [(ngModel)]="senhaAtual" name="senhaAtual" required id="senha_usuario_atual" type="password" class="input">
        </div>

        <div class="form-conteudo-editar">
          <label for="tipo_usuario">Tipo <span>*</span></label>
          <select [(ngModel)]="user.tipo" name="Tipo" required id="tipo_usuario">
            <option value="professor">Professor</option>
            <option value="adm">Administrador</option>
         </select>
        </div>
      </div>

      <div class="botoes">
        <button class="btn-cancelar" routerLink="/dashboard">Cancelar</button>
        <button class="btn-salvar" type="submit">Salvar Alterações</button>
      </div>
    </div>

  </form>
</main>






<!-- <h2>Editar Usuário</h2>
<form (ngSubmit)="atualizarUsuario()">
  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput [(ngModel)]="user.username" name="username" required />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="user.email" name="email" required />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Tipo</mat-label>
    <mat-select [(ngModel)]="user.tipo" name="tipo" required>
      <mat-option value="adm">Administrador</mat-option>
      <mat-option value="professor">Professor</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Senha Atual</mat-label>
    <input matInput [(ngModel)]="senhaAtual" name="senhaAtual" type="password" required />
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Salvar</button>
  <button mat-raised-button color="warn" [routerLink]="'/'">Cancelar</button>
</form> -->
