.container {
  min-height: 88vh;
  background: linear-gradient(112deg, rgba(18, 0, 96, 0.10) 16.83%, rgba(0, 0, 0, 0.09) 47.11%, rgba(66, 0, 146, 0.05) 81.73%, rgba(95, 0, 211, 0.05) 95.21%), #131313;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.com-equipe {
    align-items: initial;
    justify-content: initial;
    padding-left: 10px;

    .caixa {
        text-align: left;
    }
}

.caixa {
    width: 95% !important;
    margin: 0 auto;
    text-align: center;
}


.botao-adicionar-equipe {
    width: 247px;
    height: 40px;
    border-radius: 7px;
    background: linear-gradient(90deg, rgba(124, 76, 198, 0.50) 0%, rgba(83, 0, 249, 0.50) 100%), #7C4CC6;
    border: none;
    color: #FFF;
}

.botao-adicionar-equipe:hover {
    opacity: 50%;
    cursor: pointer;
}

.mat-expansion-panel-header:not([aria-disabled=true]) {
    background-color: #2B2A2E !important;
    border: 1px solid #7C4CC6 !important;
    
}

.mat-expansion-panel-header-title {
    color: #FFF;
}

.mat-accordion>.mat-expansion-panel-spacing:last-child {
    background-color: #2B2A2E !important;
}


.mat-accordion .mat-expansion-panel:last-of-type {
    background-color: #2B2A2E !important;
}

.adicionar-membro, .remover-equipe {
    width: 202px;
    height: 40px;
    border-radius: 7px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.adicionar-membro {
    background: linear-gradient(90deg, rgba(124, 76, 198, 0.50) 0%, rgba(83, 0, 249, 0.50) 100%), #7C4CC6;
    border: none;
    color: #FFF;
}

.adicionar-membro:hover {
    opacity: 50%;
}

.remover-equipe  {
    color: #E45A5A;
    border: 2px solid #E45A5A;
    background-color: transparent;
    border-radius: 10px;
}

.remover-equipe:hover {
    background-color: #E45A5A;
    color: #FFF;
}

.caixa-botoes {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    padding: 20px;
}

.nenhuma-equipe {
    color: #888;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 30px;
}

.lista-membros, .caixa-perfil {
    display: flex;
    align-items: center;
}

.lista-membros:hover {
    background-color: #232225;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.caixa-perfil {
    column-gap: 20px;
    padding-left: 20px;
}

.text-muted {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.caixa-perfil, .acoes-membros {
    width: 50%;
}

.acoes-membros {
    display: flex;
    justify-content: end;
    column-gap: 20px;
    padding-right: 20px;
    padding: 5px 20px 5px 0;
}

.editar-ref, .excluir-ref {
    width: 50px;
    height: 40px;
    cursor: pointer;
}

.acoes-membros button {
    background-color: transparent;
    border: none;
}


/* .lista-membros {
    margin-bottom: 10px;
} */