.container {
  min-height: 88vh;
  background: linear-gradient(112deg, rgba(18, 0, 96, 0.10) 16.83%, rgba(0, 0, 0, 0.09) 47.11%, rgba(66, 0, 146, 0.05) 81.73%, rgba(95, 0, 211, 0.05) 95.21%), #131313;
  display: flex;
  align-items: center;
  justify-content: center;
}

.com-equipe {
    align-items: initial;
    justify-content: initial;
    padding-left: 10px;
    .caixa {
        text-align: left;
    }
}
.caixa {
    width: 95% !important;
    margin: 0 auto;
    text-align: center;
}


.botao-adicionar-equipe {
    width: 247px;
    height: 40px;
    border-radius: 7px;
    background: linear-gradient(90deg, rgba(124, 76, 198, 0.50) 0%, rgba(83, 0, 249, 0.50) 100%), #7C4CC6;
    border: none;
    color: #FFF;
}

.botao-adicionar-equipe:hover {
    opacity: 50%;
    cursor: pointer;
}

.mat-expansion-panel-header:not([aria-disabled=true]) {
    background-color: #2B2A2E !important;
    border: 1px solid #7C4CC6 !important;
    
}

.mat-expansion-panel-header-title {
    color: #FFF;
}

.mat-accordion>.mat-expansion-panel-spacing:last-child {
  background-color: #2B2A2E !important;
}


.mat-accordion .mat-expansion-panel:last-of-type {
    background-color: #2B2A2E !important;
}