.container-voltar{
  background-color: #0E0E0E;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  color: white;
  padding: 20px;
}

.container-voltar mat-icon{
  cursor: pointer;
}
.container-voltar p{
  color: #FFF;
font-family: Arial;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
