.container-voltar{
  background-color: #0E0E0E;
  box-sizing: border-box;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 33px;
  color: white;
  padding: 25px 74px;
  height: 12vh;
}

.container-voltar img{
  cursor: pointer;
}

.container-voltar p{
color: #FFF;
font-family: "Inter", sans-serif;
font-size: clamp(20px, 10vw, 30px);
font-weight: bold;
line-height: normal;
}
