.container {
    height: 83vh;
    background: linear-gradient(112deg, rgba(18, 0, 96, 0.10) 16.83%, rgba(0, 0, 0, 0.09) 47.11%, rgba(66, 0, 146, 0.05) 81.73%, rgba(95, 0, 211, 0.05) 95.21%), #131313;
    display: flex;
    flex-direction: column-reverse;
}

.botao-add-ref {
    background-color: #7C4CC6;
    color: #FFFFFF;
    width: 247px;
    height: 40px;
    border: none;
    border-radius: 7px;
    font-size: 16px;
}

.sem-referencia {
    font-size: 18px;
    color: #888888;
}