.container {
    height: 83vh;
    background: linear-gradient(112deg, rgba(18, 0, 96, 0.10) 16.83%, rgba(0, 0, 0, 0.09) 47.11%, rgba(66, 0, 146, 0.05) 81.73%, rgba(95, 0, 211, 0.05) 95.21%), #131313;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    row-gap: 35px;
}

.com-referencia {
    flex-direction: column;
    justify-content: initial;
    align-items: initial;
}

.botao-add-ref {
    background: linear-gradient(90deg, rgba(124, 76, 198, 0.50) 0%, rgba(83, 0, 249, 0.50) 100%), #7C4CC6;
    color: #FFFFFF;
    width: 247px;
    height: 40px;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    cursor: pointer;
}

.botao-add-ref:hover, .botao-acessar-referencia:hover, .editar-ref:hover, .excluir-ref:hover {
    opacity: 50%;
}

.sem-referencia {
    font-size: 18px;
    color: #888888;
}

.container-referencias li{
    background-color: #2B2A2E;
    color: #FFFFFF;
    list-style-type: none;
    border-radius: 15px;
    border: 1px solid #7C4CC6;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
    margin-bottom: 15px;
    column-gap: 40px;
}

.referencia-texto ,.container-referencias li {
    display: flex;
}

.referencia-texto {
    align-items: center;
}

.descricao {
    text-align: justify;
}

.acoes {
    display: flex;
    column-gap: 20px;
}

.link-acessar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-acessar-referencia, .link-acessar {
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 7px;
    background: linear-gradient(90deg, rgba(124, 76, 198, 0.50) 0%, rgba(83, 0, 249, 0.50) 100%), #7C4CC6;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.botao-acessar-referencia a {
    text-decoration: none;
    color: #FFFFFF;
}

.editar-ref, .excluir-ref {
    width: 50px;
    height: 40px;
    cursor: pointer;
}

.botao-editar, .botao-excluir {
    background-color: transparent;
    border: none;
}

