/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: fontCustom;
    src: url('./assets/fonteProjeto.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: fontCustom;   
}

body {
    background-color: #EDEBF0;
}