@import './styles_rott.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: fontCustom;
    src: url('./assets/fonteProjetoLinks.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: fontCustom;
}

body {
    background: linear-gradient(112deg, rgba(18, 0, 96, 0.10) 16.83%, rgba(0, 0, 0, 0.09) 47.11%, rgba(66, 0, 146, 0.05) 81.73%, rgba(95, 0, 211, 0.05) 95.21%), #131313 !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.logo{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.mdc-label{
  color: white;
}
.mat-mdc-radio-button.mat-accent{
  --mdc-radio-selected-icon-color: #864FD9;
  --mdc-radio-selected-focus-icon-color: #864FD9;
  --mdc-radio-selected-hover-icon-color: #864FD9;
  --mdc-radio-selected-pressed-icon-color: #864FD9;
  --mat-radio-checked-ripple-color: #864FD9;
}

.mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background{
  background-color: transparent !important;
  border-color: #ffff !important;
}

.mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background {
  border-color: #ffff !important;
}


.logo img{
  width: 159.091px;
  height: 50px;
  margin-bottom: 15px;
}
.logo h3{
  width: fit-content;
}
.mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:not(:checked)+.mdc-radio__background .mdc-radio__outer-circle{
  border-color: #767676 !important;
}

.mat-accent {
    --mat-option-selected-state-label-text-color: transparent !important;
    --mdc-checkbox-selected-focus-state-layer-color: transparent !important;
    --mdc-checkbox-selected-focus-state-layer-color: transparent !important;
    --mdc-checkbox-selected-hover-state-layer-color: transparent !important;
    --mdc-checkbox-selected-pressed-state-layer-color: transparent !important;
    --mdc-checkbox-selected-focus-icon-color: transparent !important;
    --mdc-checkbox-selected-hover-icon-color: transparent !important;
    --mdc-checkbox-selected-icon-color: transparent !important ;
    --mdc-checkbox-selected-pressed-icon-color: transparent !important;
}

.mat-step-icon {
  background-color: #442770 !important;
}

html{
   --mat-stepper-line-color: #442770 !important;
   --mat-stepper-header-selected-state-icon-background-color: #7C4CC6 !important;
}

.mat-step-icon-state-number {
  background-color: #442770 !important;
}
.mat-step-icon-selected {
  background-color: #7C4CC6 !important;
}

.mat-stepper-horizontal-line {
  width: 385px !important;
  margin: 0 -25px !important;
  border-top-width: 2.5px !important;
}


.dialog-custom .mat-mdc-dialog-surface, .dialog-remove-custom .mat-mdc-dialog-surface {
    background-color: #2B2A2E !important;
    border-radius: 40px !important;
    border-top: 7px solid #7C4CC6;
}

.dialog-remove-custom .mat-mdc-dialog-surface {
  border-top: 3px solid #7C4CC6 !important;
}


input:focus,
textarea:focus,
select:focus {
  outline: none;
  box-shadow: none;
}

.mat-mdc-slide-toggle.mat-mdc-slide-toggle-checked:not(.mat-disabled) .mdc-switch__shadow {
  background-color: #7C4CC6;
}

.mat-mdc-slide-toggle.mat-mdc-slide-toggle-checked:not(.mat-disabled) .mdc-switch__track::after {
  background-color: #2B2A2E !important;
}

.mat-mdc-slide-toggle {
  --mdc-switch-selected-hover-state-layer-color: #7C4CC6;;
  --mdc-switch-selected-focus-state-layer-color: #7C4CC6;;
  --mdc-switch-selected-pressed-state-layer-color: #7C4CC6;;
}



.add-equipe-custom .mat-mdc-dialog-surface, .dialog-remove-custom .mat-mdc-dialog-surface {
  background-color: #2B2A2E !important;
    border-radius: 40px !important;
    border-top: 7px solid #7C4CC6;
}

.mat-expansion-panel-body {
  background-color: #2B2A2E;
}


.mat-expansion-indicator::after {
    color: #FFF !important;
}