<h2 class="titulo">Nova Equipe</h2>
<mat-divider></mat-divider>
<mat-dialog-content>
  <div style="width: 100%;" class="caixa">
    <label class="nome-equipe">Nome da Equipe</label>
    <input class="input" [(ngModel)]="nome" />
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="botoes">
    <button class="cancelar" (click)="cancelar()">Cancelar</button>
    <button class="criar" (click)="confirmar()" [disabled]="!nome.trim()">
      Criar
    </button>
  </div>
</mat-dialog-actions>
