.nome-equipe, .titulo {
    color: #FFF;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.nome-equipe {
    font-size: 16px;
    width: 100%;
}

mat-divider {
    background: #7C4CC6;
    height: 2px;
    margin: 25px 25px 0px 25px;
}

.titulo {
    font-size: 20px;
    padding-top: 30px;
}

.input {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background: #3F3F40;
    border: none;
    color: #FFF;
    padding-left: 10px;
}

.botoes {
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.botoes button {
    width: 120px;
    height: 35px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.botoes button:hover {
    opacity: 50%;
}

.cancelar {
    background-color: transparent;
    
    color: #7C4CC6;
    border: 3px solid #7C4CC6;
    
}

.criar {
    background: linear-gradient(90deg, rgba(124, 76, 198, 0.50) 0%, rgba(83, 0, 249, 0.50) 100%), #7C4CC6;
    color: #FFF;
    border: none;
}